@import "../utilities.styl"

.Card
  border-radius: $radius-extra-large !important
  background-color: white
  min-width: 330px

  &--new
    font-weight: bold
    color: $red

  &--inactive
    border-left: 2px solid $grey;

  &-field
    &-icon
      margin-right: 15px

  &-actions
    &-icon
      margin-right: 5px
      cursor: pointer

  &-title
    &:hover
      text-decoration: underline
