@import "../utilities.styl"

.box
  padding: 20px
  border-radius: $radius

.centered
  margin: 0 auto

.checkbox
  outline: 1px solid $grey !important

.title
  font-family: $family-sans-title

.flex-right
  display: flex
  justify-content: flex-end