@import "../utilities.styl"

.DropdownMenu
  padding: 0.5rem 0

  &-item
    padding-right: 3rem
    white-space: nowrap
    display: block
    line-height: 1.5
    position: relative
    padding: 0.5rem 1rem
    color: $dark

    &:hover
      color: $primary

    .icon
      padding-right: 1.5rem
