@import "../utilities.styl"

$radius-input ?= 4px

.label
  margin-top: 15px

  small
    font-variant: small-caps

.input
  background-color: white
  box-shadow: none
  border-radius: $radius-input
  min-height: 40px

.Form
  margin: 30px

  &--required
    color: $red

  &-dropdown
    width: 100%

    &-item
      width: 100%
      background-color: white !important

  &-actions
    margin-top: 20px
    margin-bottom: 10px

    &-button
      width: 100%
      border-radius: 0px
      font-family: $family-sans-title

