@import "../utilities.styl"

.Note
  margin-bottom: 10px
  background-color: $note-color

  &-delete
    margin-left: 10px
    background-color: $dark-grey
  
  &--new
    font-weight: bold
    color: $red

  &-content
    white-space: pre-wrap;

