@import "../utilities.styl"

.Page
  &-header
    margin-top: 30px

    &-title
      text-align: center

    &-subtitle
      padding-top: 10px
      text-align: center

  &-tabs
    a
      font-variant: small-caps
  &-tag
    margin: 0px 3px

  &-cards
    margin: 0 auto !important
