@import "../utilities.styl"

.Table
  margin-top: 10px
  table-layout: fixed
  width: 100%

  &-head
    tr
      background-color $table-row-even-background

      &:hover
        background-color $table-row-even-background

      th
        color: $grey-darker
        vertical-align: middle

  &-column
    &--mail
      width: 4%

    &--lastNote
      width: 10%

    &--phone
      width: 8%

    &--short
      width: 10%

    &--medium
      width: 12%

  &-row
    &:nth-child(even)
      background-color $table-row-even-background

    &:hover
      background-color $table-row-hover-background

      a
        color: $white

    &-position, &-skills
      font-variant: small-caps

    &-status
      font-variant: small-caps
      font-weight: bold

    &--wrap
      word-wrap: break-word
      overflow-wrap: break-word

.RowCount
  height: 24px
  font-size: 11px
