<template lang="pug">
div.app
  navbar
  component(:is="'Unauthorized'" v-show="isUnauthorized")
  component(:is="'ApiError'" v-show="showApiError")
  router-view(v-if="hasNoError", :key="$route.fullPath")
</template>

<script>
import { mapGetters } from 'vuex';
import Navbar from '@/components/Navbar';
import ApiError from '@/components/errors/ApiError';
import Unauthorized from '@/components/errors/Unauthorized';

export default {
  name: 'app',
  components: {
    ApiError,
    Navbar,
    Unauthorized,
  },

  computed: {
    ...mapGetters(['isUnauthorized', 'hasNoError', 'showApiError']),
  },
};
</script>

<style lang="stylus" scoped>
.app
  flex: 1
</style>
