<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="createMembership")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label Member
        span.Form--required *
      p.control
        multiselect(
          v-model="member",
          :custom-label="userFullName",
          :options="addMemberOptions",
          track-by="username",
          label="username",
        )

    div.field
      label.label Role
        span.Form--required *
      p.control
        multiselect(
          v-model="role",
          :options="roleOptions",
          track-by="value",
          label="name",
        )

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Submit
</template>

<script>
import { mapGetters } from 'vuex';
import { USER_STATUS } from '@/store/users';
import { MEMBERSHIP_ROLE } from '@/store/teams';
import Alert from '@/components/Alert';
import Multiselect from 'vue-multiselect';

export default {
  name: 'create-membership',
  components: {
    Alert,
    Multiselect,
  },

  props: ['teamId'],

  data() {
    return {
      role: MEMBERSHIP_ROLE.member,
      roleOptions: [
        { value: MEMBERSHIP_ROLE.teamLead, name: 'Team Lead' },
        { value: MEMBERSHIP_ROLE.member, name: 'Member' },
      ],

      users: this.$store.state.users.users,
      member: '',

      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to create membership. Please try again',
      },
    };
  },

  computed: {
    ...mapGetters(['getUserFullName', 'getAlphabeticalUsers', 'isMemberOfTeam']),
    addMemberOptions() {
      const users = this.getAlphabeticalUsers.filter(user => (
        !this.isMemberOfTeam(user.id, this.teamId) && user.status !== USER_STATUS.inactive
      ));

      return users;
    },
  },

  methods: {
    userFullName(user) {
      return this.getUserFullName(user.id);
    },

    createMembership() {
      const self = this;
      const teamId = this.teamId;
      const username = this.member.username;

      this.$store.dispatch('FETCH_USER_BY_USERNAME', { username })
      .then((user) => {
        const membership = { teamId, userId: user.id };

        if (self.role.value === MEMBERSHIP_ROLE.teamLead) {
          self.$store.dispatch('CREATE_TEAM_LEAD', membership);
        } else {
          self.$store.dispatch('CREATE_MEMBERSHIP', membership);
        }

        self.errors = [];
        self.$emit('close');
      })
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
