<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="createTeam")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label Team Name
        span.Form--required *
      p.control
        input.input(type="text" placeholder="Team A" v-model="team.name")

    div.field
      label.label Team Lead
        span.Form--required *
      p.control
        multiselect(
          v-model="teamLeadUser",
          :custom-label="userFullName",
          :options="getActiveUsers",
          track-by="username",
          label="username",
        )

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Submit
</template>

<script>
import { mapGetters } from 'vuex';
import Alert from '@/components/Alert';
import Multiselect from 'vue-multiselect';

export default {
  name: 'create-team',
  components: {
    Alert,
    Multiselect,
  },

  data() {
    return {
      team: {
        name: '',
        'active?': true,
      },

      teamLeadUser: '',
      users: this.$store.state.users.users,
      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to create team. Please try again',
      },
    };
  },

  computed: {
    ...mapGetters(['getUserFullName', 'getActiveUsers']),
  },

  methods: {
    userFullName(user) {
      return this.getUserFullName(user.id);
    },

    createTeam() {
      const self = this;

      this.$store.dispatch('CREATE_TEAM', { team: this.team })
      .then((team) => {
        const teamLeadUsername = self.teamLeadUser.username;

        if (teamLeadUsername) {
          this.createTeamLead(team.id, teamLeadUsername);
        }

        self.errors = [];
        self.$emit('close');
      })
      .catch((errors) => {
        self.errors = errors;
      });
    },

    createTeamLead(teamId, username) {
      const self = this;

      this.$store.dispatch('FETCH_USER_BY_USERNAME', { username })
      .then((user) => {
        const membership = { teamId, userId: user.id };
        self.$store.dispatch('CREATE_TEAM_LEAD', membership);
      })
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
