<template lang="pug">
  .columns
    .centered.column.is-10
      alert(:errors="errors", :defaultError="defaultError")

      p.content
        | Are you sure you want to remove
        b &nbsp;{{ getUserFullName(userId) }}
        | &nbsp;from {{ team.name }} ?

      p.content
        | They will no longer be able to contribute to the team once removed.

      p.content
        | You can still renew their membership anytime if you change your mind.
        | Their previous data will be kept intact.

      .Modal-actions.field
        button.button.is-primary(@click="removeMembership") Yes, let's remove them!
</template>

<script>
import { mapGetters } from 'vuex';
import Alert from '@/components/Alert';

export default {
  name: 'delete-membership',
  components: { Alert },
  props: ['userId', 'team'],
  data: () => ({
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to remove membership. Please try again',
    },
  }),

  computed: {
    ...mapGetters(['getUserFullName']),
  },

  methods: {
    removeMembership() {
      const self = this;
      const teamId = this.team.id;
      const userId = this.userId;

      this.$store.dispatch('REMOVE_MEMBERSHIP', { teamId, userId })
      .then(() => self.$emit('close'))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
