<template lang="pug">
div.columns
  form.centered.column.is-10(v-on:submit.prevent="updateTeam")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label Team Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Team Malaysia"
          v-model="team.name")

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Update
</template>

<script>
import Alert from '@/components/Alert';

export default {
  name: 'edit-team',
  components: { Alert },
  props: ['teamToUpdate'],

  data() {
    return {
      team: this.teamToUpdate,
      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to edit team. Please try again',
      },
    };
  },

  methods: {
    updateTeam() {
      const self = this;
      const team = this.team;

      this.$store.dispatch('UPDATE_TEAM', { id: team.id, team })
      .then(() => {
        self.errors = [];
        self.$emit('close');
      })
      .catch((errors) => {
        this.errors = errors;
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
