<template lang="pug">
div.Card.TeamCard.box(:class="{ 'TeamCard--active': this.team['active?'] }")
  div.media
    div.media-content
      p
        router-link.Card-title.title.is-3(:to="{ name: 'team-overview', params: { id: team.id } }") {{ team.name }}
        sup.Card--new(v-if="isNew") new!
      p.subtitle.is-5 Team

      div.content.columns
        div.column.is-2
           p.icon(v-for="member in team.memberships")
              i.fa(:class="{ 'fa-star': memberIsTeamLead(member), 'fa-user': !memberIsTeamLead(member) }")

        div.column.is-10
          p(v-for="member in team.memberships")
            router-link.TeamCard-member(
              :to="{ name: 'user', params: { id: member.userId } }",
              v-if="getUser(member.userId)")
               | {{ getUser(member.userId).username }}

    div.Card-actions.media-right
       span.Card-actions-icon.TeamCard-actions-add.icon.is-small(v-if="canManageTeam")
          i.fa.fa-user-plus(@click="emitAction('addMember')")
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import { MEMBERSHIP_ROLE } from '@/store/teams';

export default {
  name: 'team-card',
  props: ['team'],
  computed: {
    ...mapGetters(['isTeamLeadOfTeam', 'isCurrentUserAdmin', 'getUser']),
    ...mapState({
      currentUserId: state => (state.users.currentUserId),
    }),

    isNew() {
      return this.team.new === true;
    },

    canManageTeam() {
      return this.isCurrentUserAdmin || this.isTeamLeadOfTeam(this.currentUserId, this.team.id);
    },
  },

  methods: {
    emitAction(action) {
      this.$emit(action);
    },

    memberIsTeamLead(member) {
      return member.role === MEMBERSHIP_ROLE.teamLead;
    },
  },
};
</script>

<style lang="stylus" scoped>
@import "~assets/stylesheets/utilities.styl"

.TeamCard
  &--active
    border-left: 2px solid $team-color;

  &-actions
    &-add:hover
      color: $blue

  &-member
    color: inherit

    &:hover
      text-decoration: underline
</style>
