<template lang="pug">
div
  div(v-if="!teams")
    p There are no teams yet.
      a(href="#", @click="openModal(createTeamModal, null)")
        | Create one?

  table.Table.table(v-else)
    thead.Table-head
      tr
        th Name
        th Members
    tfoot
    tbody
      tr.Table-row(v-for="team in teams")
        td
          router-link(:to="{ name: 'team-overview', params: { id: team.id } }")
            | {{ team.name }}
        td(v-if="team.memberships")
          span(v-for="(member, index) in firstMembers(team)")
            router-link(:to="{ name: 'user', params: { id: member.userId } }")
              | {{ getUser(member.userId).username }}
            span(v-if="index !== firstMembers(team).length-1") ,&nbsp;
          span(v-if="hasMoreMembers(team)") &nbsp;...

  modal.modal(
    :title="createTeamModal.title",
    :active="createTeamModal.active",
    v-on:close="closeModal(createTeamModal)")
    component(:is="createTeamModal.component" v-on:close="closeModal(createTeamModal)")
</template>

<script>
import { mapGetters } from 'vuex';
import CreateTeam from '@/components/teams/CreateTeam';
import Modal from '@/components/Modal';

export default {
  name: 'team-table',
  props: ['teams'],
  components: {
    CreateTeam,
    Modal,
  },

  data() {
    return {
      createTeamModal: {
        active: false,
        title: 'Create Team',
        component: 'CreateTeam',
      },
    };
  },

  computed: {
    ...mapGetters(['getUser']),
  },

  methods: {
    firstMembers(team) {
      return team.memberships.slice(0, 5);
    },

    hasMoreMembers(team) {
      return team.memberships.length > 5;
    },

    openModal(modal) {
      modal.active = true;
    },

    closeModal(modal) {
      modal.teamId = null;
      modal.active = false;
    },
  },
};
</script>
