<template lang="pug">
div(v-if="!applicants")
  p There are no applicants yet.
    router-link(:to="{ name: 'create-candidate' }")
      | Create one?

table.Table.table(v-else)
  thead.Table-head
    tr
      th.Table-column--mail(v-if="canComposeEmail")
        input.checkbox(
          type="checkbox",
          @click="selectAllRecipients",
          :checked="allApplicantsSelected",)
      th.Table-column--short
        span First Name
        span.icon.is-small(@click="setSortBy('first_name')")
          i.fa.fa-sort
      th.Table-column--short
        span Last Name
        span.icon.is-small(@click="setSortBy('last_name')")
          i.fa.fa-sort
      th.Table-column--short Country
      th Position
      th(v-if="!fromCompanyPage")
        | Company
      th Skills
      th.Table-column--phone Work Phone
      th.Table-column--phone Mobile Phone
      th.Table-column--lastNote
        span Last Note
        span.icon.is-small(@click="setSortBy('last_note_at')")
          i.fa.fa-sort
      th.Table-column--short(v-if="showCreator")
        | Created By
  tfoot
  tbody
    tr.Table-row(v-if="canFilterColumns")
      th.Table-column--mail(v-if="canComposeEmail")
      th
        input.input(
          type="text",
          placeholder="Alice",
          :value="firstName",
          @input="debounceFirstName($event)")
      th
        input.input(
          type="text",
          placeholder="Wakefield",
          :value="lastName",
          @input="debounceLastName($event)")
      th
        multiselect(
          v-model="queryParams.country",
          :options="getOptionValues(countries)",
          :show-labels="false",
          track-by="name",
          label="name",
        )
      th
        multiselect(
          v-model="queryParams.profession",
          :options="getOptionValues(professions)",
          :show-labels="false",
          track-by="name",
          label="name",
        )
      th(v-if="!fromCompanyPage")
        multiselect(
          v-model="queryParams.company",
          :options="getOptionValues(companies)",
          :show-labels="false",
          track-by="name",
          label="name",
        )
      th
        multiselect(
          v-model="queryParams.skill",
          :options="getOptionValues(skills)",
          :show-labels="false",
          track-by="id",
          label="name",
        )
      th
      th
      th
      th(v-if="showCreator")
        multiselect(
          v-model="queryParams.creator",
          :options="getOptionValues(users)",
          :show-labels="false",
          :custom-label="fullUserName",
          track-by="username",
          label="firstName",
        )
    tr.Table-row(v-for="applicant in sortedApplicants")
      td(v-if="canComposeEmail")
        input.checkbox(
          type="checkbox",
          checked="true",
          :value="applicant.id",
          v-if="applicant.email",
          v-model="emailRecipientIds")
      td
        router-link(:to="{ name: 'candidate-overview', params: { id: applicant.id } }")
          | {{ applicant.firstName }}
      td {{ applicant.lastName }}
      td {{ applicant.country.name }}
      td.Table-row-position.Table-row--wrap  {{ applicant.profession.name }}
      td.Table-row--wrap(v-if="!fromCompanyPage")
        span(v-if="applicant.company")
          router-link(:to="{ name: 'company-overview', params: { id: applicant.companyId } }")
            | {{ applicant.company.name }}
        span(v-else) None
      td.Table-row-skills.Table-row--wrap  {{ skillString(applicant) }}
      td.Table-row--wrap {{ applicant.phoneNumber || 'None' }}
      td.Table-row--wrap {{ applicant.mobileNumber || 'None' }}
      td.Table-row-skills.Table-row--wrap  {{ formatDate(applicant.lastNoteAt) }}
      td(v-if="showCreator")
        router-link(:to="{ name: 'user', params: { id: applicant.creator.id } }")
          | {{ applicant.creator.firstName }} {{ applicant.creator.lastName }}
</template>

<script>
import { APPLICANT_STATUS } from '@/store/recruitment/applicants';
import { mapState } from 'vuex';
import EmailRecipients from '@/mixins/EmailRecipients';
import Formatter from '@/mixins/Formatter';
import Multiselect from 'vue-multiselect';
import ObjectsHelper from '@/lib/utils/objects';
import OptionalQueryBuilder from '@/mixins/OptionalQueryBuilder';

export default {
  name: 'applicant-table',
  mixins: [EmailRecipients, Formatter, OptionalQueryBuilder],
  components: {
    Multiselect,
  },

  props: {
    applicants: Array,
    showCreator: {
      type: Boolean,
      default: false,
    },
  },

  created() {
    if (this.canFilterColumns) {
      this.$store.dispatch('FETCH_SKILLS')
      .then(() => this.$store.dispatch('FETCH_COMPANIES', {}))
      .then(() => this.$store.dispatch('FETCH_PROFESSIONS'))
      .then(() => this.$store.dispatch('FETCH_USERS'))
      .then(() => this.$store.dispatch('FETCH_COUNTRIES'))
      .then(() => this.setOptionalQueryParamsFromUrl());
    }
  },

  data() {
    return {
      queryParams: {
        firstName: null,
        lastName: null,
        country: null,
        profession: null,
        company: null,
        skill: null,
        creator: null,
        sortBy: 'first_name',
        sort: 'asc',
      },

      firstName: '',
      lastName: '',
    };
  },

  computed: {
    ...mapState({
      professions: state => state.recruitment.professions,
      companies: state => state.recruitment.companies,
      countries: state => state.recruitment.countries,
      skills: state => state.recruitment.skills,
      users: state => state.users.users,
    }),

    allApplicantsSelected() {
      return this.emailRecipientIds.length === this.applicants.length;
    },

    canFilterColumns() {
      const filterablePaths = [
        'applicants-user',
        'applicants-team',
        'company-applicants',
        'team-applicants',
      ];

      return filterablePaths.includes(this.$route.name);
    },

    fromCompanyPage() {
      return this.$route.name === 'company-applicants';
    },

    sortedApplicants() {
      const sortBy = this.queryParams.sortBy || 'firstName';
      const order = this.queryParams.sort || 'asc';

      return ObjectsHelper.sortResource(this.applicants, sortBy, order === 'desc');
    },
  },

  methods: {
    isPlaced(applicant) {
      return applicant.status === APPLICANT_STATUS.placed;
    },

    isOpen(applicant) {
      return applicant.status === APPLICANT_STATUS.open;
    },

    selectAllRecipients() {
      this.emailRecipientIds = this.allApplicantsSelected
        ? []
        : this.applicants.map(applicant => (applicant.id));
    },
  },
};
</script>
