<template lang="pug">
div.Modal.columns
  div.centered.column.is-10
    alert(:errors="errors", :defaultError="defaultError")

    p.content
      | You are about to add an applicant with the same email as 
      router-link(:to="{ name: 'candidate-overview', params: { id: duplicate.id } }")
        | {{duplicate.firstName}} {{duplicate.lastName}}
      |.

    p.content
      | Are you sure you want to continue creating?

    div.Modal-actions.field
      button.button.is-primary(@click="createApplicant") Yes, let's add them anyway!
</template>

<script>
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'duplicate-applicant',
  components: { Alert },
  props: ['applicant', 'duplicate'],
  data: () => ({
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to create applicant. Please try again',
    },
  }),

  methods: {
    createApplicant() {
      const self = this;
      store.dispatch('CREATE_APPLICANT', { applicant: this.applicant })
      .then(applicant => self.$router.push({ name: 'candidate-overview', params: { id: applicant.id } }))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
