<template lang="pug">
div(v-if="!clients")
  p There are no clients yet. 
    router-link(:to="{ name: 'create-client' }")
      | Create one?

table.Table.table(v-else)
  thead.Table-head
    tr
      th.Table-column--mail(v-if="canComposeEmail")
        input.checkbox(
          type="checkbox",
          @click="selectAllRecipients",
          :checked="allClientsSelected",)
      th.Table-column--medium
        span First Name
        span.icon.is-small(@click="setSortBy('first_name')")
          i.fa.fa-sort
      th.Table-column--medium
        span Last Name
        span.icon.is-small(@click="setSortBy('last_name')")
          i.fa.fa-sort
      th.Table-column--medium Country
      th Position
      th(v-if="!fromCompanyPage")
        | Company
      th.Table-column--phone Work Number
      th.Table-column--phone Mobile Number
      th.Table-column--lastNote
        span Last Note
        span.icon.is-small(@click="setSortBy('last_note_at')")
          i.fa.fa-sort
      th.Table-column--short(v-if="showCreator")
        | Created By
  tfoot
  tbody
    tr.Table-row(v-if="canFilterColumns")
      th.Table-column--mail(v-if="canComposeEmail")
      th
        input.input(
          type="text",
          placeholder="Alice",
          :value="firstName",
          @input="debounceFirstName($event)")
      th
        input.input(
          type="text",
          placeholder="Wakefield",
          :value="lastName",
          @input="debounceLastName($event)")
      th
        multiselect(
          v-model="queryParams.country",
          :options="getOptionValues(countries)",
          :show-labels="false",
          track-by="name",
          label="name",
        )
      th
        input.input(
          type="text",
          placeholder="Alice",
          :value="position",
          @input="debouncePosition($event)")
      th(v-if="!fromCompanyPage")
        multiselect(
          v-model="queryParams.company",
          :options="getOptionValues(companies)",
          :show-labels="false",
          track-by="name",
          label="name",
        )
      th
      th
      th
      th(v-if="showCreator")
        multiselect(
          v-model="queryParams.creator",
          :options="getOptionValues(users)",
          :show-labels="false",
          :custom-label="fullUserName",
          track-by="username",
        )
    tr.Table-row(v-for="client in sortedClients")
      td(v-if="canComposeEmail")
        input.checkbox(
          type="checkbox",
          checked="true",
          :value="client.id",
          v-if="client.email",
          v-model="emailRecipientIds")
      td
        router-link(:to="{ name: 'client-overview', params: { id: client.id } }")
          | {{ client.firstName }}
      td {{ client.lastName }}
      td {{ client.country.name }}
      td.Table-row-position.Table-row--wrap  {{ positionString(client.position) }}
      td.Table-row--wrap(v-if="!fromCompanyPage")
        span(v-if="client.company")
          router-link(:to="{ name: 'company-overview', params: { id: client.companyId } }")
            | {{ client.company.name }}
        span(v-else) None
      td.Table-row--wrap {{ client.primaryNumber || 'None' }}
      td.Table-row--wrap {{ client.mobileNumber || 'None' }}
      td.Table-row--wrap {{ formatDate(client.lastNoteAt) }}
      td(v-if="showCreator")
        router-link(:to="{ name: 'user', params: { id: client.creator.id } }")
          | {{ client.creator.firstName }} {{ client.creator.lastName }}
</template>

<script>
import { mapState } from 'vuex';
import EmailRecipients from '@/mixins/EmailRecipients';
import Formatter from '@/mixins/Formatter';
import Multiselect from 'vue-multiselect';
import ObjectsHelper from '@/lib/utils/objects';
import OptionalQueryBuilder from '@/mixins/OptionalQueryBuilder';

export default {
  name: 'client-table',
  mixins: [EmailRecipients, Formatter, OptionalQueryBuilder],
  props: {
    clients: Array,
    showCreator: {
      type: Boolean,
      default: false,
    },
  },

  components: {
    Multiselect,
  },

  created() {
    if (this.canFilterColumns) {
      this.$store.dispatch('FETCH_COMPANIES', {})
      .then(() => this.$store.dispatch('FETCH_PROFESSIONS'))
      .then(() => this.$store.dispatch('FETCH_USERS'))
      .then(() => this.$store.dispatch('FETCH_COUNTRIES'))
      .then(() => this.setOptionalQueryParamsFromUrl());
    }
  },

  data() {
    return {
      queryParams: {
        firstName: null,
        lastName: null,
        country: null,
        position: null,
        company: null,
        creator: null,
        sortBy: 'first_name',
        sort: 'asc',
      },

      firstName: '',
      lastName: '',
      position: '',
    };
  },

  watch: {
    queryParams: {
      deep: true,
      handler(newQueryParams) {
        this.$emit('resetOptionalQueryParameters', newQueryParams);
      },
    },
  },

  computed: {
    ...mapState({
      professions: state => state.recruitment.professions,
      companies: state => state.recruitment.companies,
      countries: state => state.recruitment.countries,
      users: state => state.users.users,
    }),

    allClientsSelected() {
      return this.emailRecipientIds.length === this.clients.length;
    },

    canFilterColumns() {
      const filterablPaths = [
        'clients-user',
        'clients-team',
        'company-clients',
        'team-clients',
      ];

      return filterablPaths.includes(this.$route.name);
    },

    fromCompanyPage() {
      return this.$route.name === 'company-clients';
    },

    sortedClients() {
      const sortBy = this.queryParams.sortBy || 'firstName';
      const order = this.queryParams.sort || 'asc';

      return ObjectsHelper.sortResource(this.clients, sortBy, order === 'desc');
    },
  },

  methods: {
    selectAllRecipients() {
      this.emailRecipientIds = this.allClientsSelected
        ? []
        : this.clients.map(client => (client.id));
    },
  },
};
</script>
