<template lang="pug">
div.Modal.columns
  div.centered.column.is-10
    alert(:errors="errors", :defaultError="defaultError")

    p.content
      | You are about to add an client with the same email as 
      router-link(:to="{ name: 'client-overview', params: { id: duplicate.id } }")
        | {{duplicate.firstName}} {{duplicate.lastName}}
      |.

    p.content
      | Are you sure you want to continue creating?

    div.Modal-actions.field
      button.button.is-primary(@click="createClient") Yes, let's add them anyway!
</template>

<script>
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'duplicate-client',
  components: { Alert },
  props: ['client', 'duplicate'],
  data: () => ({
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to create client. Please try again',
    },
  }),

  methods: {
    createClient() {
      const self = this;
      store.dispatch('CREATE_CLIENT', { client: this.client })
      .then(client => self.$router.push({ name: 'client-overview', params: { id: client.id } }))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
