<template lang="pug">
div.Modal.columns
  div.centered.column.is-10
    alert(:errors="errors", :defaultError="defaultError")

    p.content
      | Are you sure you want to remove
      b &nbsp;{{ getClientFullName(client.id) }}
      | ?

    p.content
      | This will permanently delete
      b &nbsp;all&nbsp;
      | records of the client, including notes and messages.

    p.content
      | This action cannot be undone.

    div.Modal-actions.field
      button.button.is-primary(@click="removeClient") Yes, let's remove them!
</template>

<script>
import { mapGetters } from 'vuex';
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'remove-client',
  components: { Alert },
  props: ['client'],
  data: () => ({
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to ban client. Please try again',
    },
  }),

  computed: {
    ...mapGetters(['getClientFullName']),
  },

  methods: {
    removeClient() {
      const self = this;
      store.dispatch('REMOVE_CLIENT', { id: this.client.id })
      .then(() => {
        self.$emit('close');
        self.$router.push({ name: 'clients-user' });
      })
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
