<template lang="pug">
section.Page.container
  div.Page-header.content
    h1.Page-header-title.title Create Candidate
    hr

  div.Form
    alert(:errors="errors", :defaultError="defaultError")
    div.field
      label.label First Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Alice"
          v-model="applicant.firstName")

    div.field
      label.label Last Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Armstrong"
          v-model="applicant.lastName")

    div.field
      label.label Position
        span.Form--required * 
        small
          a(href="#" @click.prevent="openModal(createProfessionModal)") create one
      multiselect(
        v-model="profession",
        :custom-label="uppercaseOptions",
        :options="Object.values(professions)",
        track-by="name",
        label="name",
      )
        span(slot="noResult").
          Oops! Position not found. Create the desired position first.

    div.field
      label.label Country
        span.Form--required *
      p.control
      multiselect(
        v-model="country",
        :options="Object.values(countries)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Company 
        small
          a(href="#" @click.prevent="openModal(createCompanyModal)") create one
      p.control
      multiselect(
        v-model="company",
        :options="Object.values(companies)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Email
      p.control
        input.input(
          type="text"
          placeholder="example@mail.com"
          v-model="applicant.email")

    div.field
      label.label Work Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="applicant.phoneNumber")

    div.field
      label.label Mobile Number
      p.control
        input.input(
          type="text"
          placeholder="+63927633927"
          v-model="applicant.mobileNumber")

    div.field
      label.label Home Number
      p.control
        input.input(
          type="text"
          placeholder="9318256"
          v-model="applicant.landlineNumber")

    div.field
      label.label Other Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="applicant.otherNumber")

    div.field
      label.label Skills 
        small
          a(href="#" @click.prevent="openModal(createSkillModal)") create one
      multiselect(
        v-model="skillsChosen",
        :custom-label="uppercaseOptions",
        :options="Object.values(skills)",
        :multiple="true",
        track-by="name",
        label="name",
      )
        span(slot="noResult").
          Oops! Skill not found. Create the desired skill first.

    div.Form-actions.field.is-grouped
      button.Form-actions-button.button.is-primary(@click="validateApplicant") Submit

    modal.modal(
      :title="createCompanyModal.title",
      :active="createCompanyModal.active",
      v-on:close="closeModal(createCompanyModal)")
      component(
        :is="createCompanyModal.component",
        v-on:close="closeModal(createCompanyModal)",
        v-on:onCreateCompany="onCreateCompany")

    modal.modal(
      :title="createProfessionModal.title",
      :active="createProfessionModal.active",
      v-on:close="closeModal(createProfessionModal)")
      component(
        :is="createProfessionModal.component",
        v-on:close="closeModal(createProfessionModal)",
        v-on:onCreateProfession="onCreateProfession")

    modal.modal(
      :title="createSkillModal.title",
      :active="createSkillModal.active",
      v-on:close="closeModal(createSkillModal)")
      component(
        :is="createSkillModal.component",
        v-on:close="closeModal(createSkillModal)",
        v-on:onCreateSkill="onCreateSkill")

    modal.modal(
      :title="duplicateApplicantModal.title",
      :active="duplicateApplicantModal.active",
      v-on:close="closeModal(duplicateApplicantModal)")
      component(
        :applicant="applicant || {}",
        :duplicate="duplicate || {}",
        :is="duplicateApplicantModal.component",
        v-on:close="closeModal(duplicateApplicantModal)")
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import Alert from '@/components/Alert';
import DuplicateApplicantWarning from '@/components/applicants/DuplicateApplicantWarning';
import FormModals from '@/mixins/FormModals';
import Multiselect from 'vue-multiselect';
import store from '@/store';

export default {
  name: 'create-applicant-page',
  mixins: [FormModals],
  components: {
    Alert,
    DuplicateApplicantWarning,
    Multiselect,
  },

  created() {
    this.$store.dispatch('FETCH_SKILLS')
    .then(() => this.$store.dispatch('FETCH_COMPANIES', {}))
    .then(() => this.$store.dispatch('FETCH_PROFESSIONS'))
    .then(() => this.$store.dispatch('FETCH_COUNTRIES'))
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data: () => ({
    applicant: {
      firstName: '',
      lastName: '',
      landlineNumber: '',
      mobileNumber: '',
      phoneNumber: '',
      otherNumber: '',
      email: '',
    },

    country: '',
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to create applicant. Please try again',
    },

    duplicate: {
      id: 0,
      firstName: '',
      lastName: '',
    },

    duplicateApplicantModal: {
      active: false,
      title: 'This applicant already exists!',
      component: 'DuplicateApplicantWarning',
    },
  }),

  computed: {
    ...mapGetters(['getProfessionNames']),
    ...mapState({
      professions: state => state.recruitment.professions,
      companies: state => state.recruitment.companies,
      countries: state => state.recruitment.countries,
      currentUserId: state => state.users.currentUserId,
      skills: state => state.recruitment.skills,
    }),
  },

  methods: {
    createApplicant() {
      const self = this;
      store.dispatch('CREATE_APPLICANT', { applicant: this.applicant })
      .then(applicant => self.$router.push({ name: 'candidate-overview', params: { id: applicant.id } }))
      .catch((errors) => {
        self.errors = errors;
      });
    },

    uppercaseOptions({ name }) {
      return name.toUpperCase();
    },

    validateApplicant() {
      if (this.profession) {
        this.applicant.professionId = this.profession.id;
      }

      if (this.country) {
        this.applicant.countryId = this.country.id;
      }

      if (this.company) {
        this.applicant.companyId = this.company.id;
      }

      if (this.skillsChosen.length > 0) {
        this.applicant.skillIds = this.skillsChosen.map(skill => skill.id);
      }

      if (!this.applicant.email.length) {
        this.createApplicant();
      }

      const self = this;
      const fetchArguments = {
        userId: this.currentUserId,
        email: encodeURIComponent(this.applicant.email),
      };

      store.dispatch('FETCH_APPLICANTS_BY_EMAIL', fetchArguments)
      .then((applicants) => {
        if (applicants.length) {
          self.duplicate = applicants[0];
          self.duplicateApplicantModal.active = true;
        } else {
          self.createApplicant();
        }
      });
    },
  },
};
</script>

<style src="node_modules/vue-multiselect/dist/vue-multiselect.min.css"></style>
