<template lang="pug">
section.Page
  div.container
    div.Page-header.content
      h1.Page-header-title.title(v-if="applicant && canCurrentUserMail")
        | Send Email to {{ getApplicantFullName(applicant.id) }}
      h1.Page-header-title.title(v-else)
        | Send Email
      hr

  div.container
    mailer-form(v-if="applicant && canCurrentUserMail", :recipient="applicant", :recipientType="'applicant'")
    div(v-else-if="!applicant")
      p Applicant does not exist.
    div(v-else-if="!canCurrentUserMail")
      p You do not have permission to email this applicant.
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import MailerForm from '@/components/mailer/MailerForm';
import Spinner from '@/components/Spinner';

export default {
  name: 'mail-applicant',
  components: {
    MailerForm,
    Spinner,
  },

  created() {
    const id = this.id;
    this.$store.dispatch('FETCH_APPLICANT', { id })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      id: this.$route.params.id,
    };
  },

  computed: {
    ...mapGetters({
      getApplicantFullName: 'getApplicantFullName',
      isCurrentUser: 'isCurrentUser',
      isCurrentUserAdmin: 'isCurrentUserAdmin',
    }),

    ...mapState({
      applicant(state) {
        return state.recruitment.applicants[this.id];
      },
    }),

    canCurrentUserMail() {
      if (!this.applicant) {
        return false;
      }

      return this.isCurrentUser(this.applicant.createdBy) || this.isCurrentUserAdmin;
    },
  },
};
</script>
