<template lang="pug">
section.Page.container
  div.Page-header.content
    h1.Page-header-title.title Edit Candidate
    hr

  form.Form(v-on:submit.prevent="updateApplicant")
    alert(:errors="errors", :defaultError="defaultError")
    div.field
      label.label First Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Alice"
          v-model="applicant.firstName")

    div.field
      label.label Last Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Armstrong"
          v-model="applicant.lastName")

    div.field
      label.label Position
        span.Form--required * 
        small
          a(href="#" @click.prevent="openModal(createProfessionModal)") create one
      multiselect(
        v-model="applicant.profession",
        :options="Object.values(professions)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Country
        span.Form--required *
      p.control
      multiselect(
        v-model="applicant.country",
        :options="Object.values(countries)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Company 
        small
          a(href="#" @click.prevent="openModal(createCompanyModal)") create one
      p.control
      multiselect(
        v-model="applicant.company",
        :options="Object.values(companies)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Status
      p.control
      multiselect(
        v-model="applicant.status",
        :options="statusList",
      )

    div.field
      label.label Email
      p.control
        input.input(
          type="text"
          placeholder="example@mail.com"
          v-model="applicant.email")

    div.field
      label.label Work Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="applicant.phoneNumber")

    div.field
      label.label Mobile Number
      p.control
        input.input(
          type="text"
          placeholder="+63927633927"
          v-model="applicant.mobileNumber")

    div.field
      label.label Home Number
      p.control
        input.input(
          type="text"
          placeholder="9318256"
          v-model="applicant.landlineNumber")

    div.field
      label.label Other Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="applicant.otherNumber")

    div.field
      label.label Skills 
        small
          a(href="#" @click.prevent="openModal(createSkillModal)") create one
      multiselect(
        v-model="applicant.skills",
        :options="Object.values(skills)",
        :multiple="true",
        track-by="name",
        label="name",
      )

    div.Form-actions.field.is-grouped
      button.Form-actions-button.button.is-primary(type="submit") Submit

    modal.modal(
      :title="createCompanyModal.title",
      :active="createCompanyModal.active",
      v-on:close="closeModal(createCompanyModal)")
      component(
        :is="createCompanyModal.component",
        v-on:close="closeModal(createCompanyModal)",
        v-on:onCreateCompany="onCreateCompany")

    modal.modal(
      :title="createProfessionModal.title",
      :active="createProfessionModal.active",
      v-on:close="closeModal(createProfessionModal)")
      component(
        :is="createProfessionModal.component",
        v-on:close="closeModal(createProfessionModal)",
        v-on:onCreateProfession="onCreateProfession")

    modal.modal(
      :title="createSkillModal.title",
      :active="createSkillModal.active",
      v-on:close="closeModal(createSkillModal)")
      component(
        :is="createSkillModal.component",
        v-on:close="closeModal(createSkillModal)",
        v-on:onCreateSkill="onCreateSkill")
</template>

<script>
import { mapState } from 'vuex';
import { APPLICANT_STATUS } from '@/store/recruitment/applicants';
import Multiselect from 'vue-multiselect';
import Alert from '@/components/Alert';
import FormModals from '@/mixins/FormModals';
import store from '@/store';

export default {
  name: 'edit-applicant-page',
  mixins: [FormModals],
  components: {
    Alert,
    Multiselect,
  },

  created() {
    this.$store.dispatch('FETCH_APPLICANT', { id: this.id })
    .then((applicant) => {
      this.applicant = applicant;
      this.$store.dispatch('FETCH_SKILLS');
    })
    .then(() => this.$store.dispatch('FETCH_COMPANIES', {}))
    .then(() => this.$store.dispatch('FETCH_PROFESSIONS'))
    .then(() => this.$store.dispatch('FETCH_COUNTRIES'))
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      id: this.$route.params.id,
      applicant: { ...this.applicant },
      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to create applicant. Please try again',
      },
    };
  },

  computed: {
    ...mapState({
      applicant: state => state.recruitment.applicants[this.id],
      companies: state => state.recruitment.companies,
      countries: state => state.recruitment.countries,
      professions: state => state.recruitment.professions,
      skills: state => state.recruitment.skills,
    }),

    statusList() {
      return Object.values(APPLICANT_STATUS);
    },
  },

  methods: {
    onCreateCompany(company) {
      this.applicant.company = company;
    },

    onCreateProfession(profession) {
      this.applicant.profession = profession;
    },

    onCreateSkill(skill) {
      this.applicant.skills.push(skill);
    },

    updateApplicant() {
      if (this.applicant.profession) {
        this.applicant.professionId = this.applicant.profession.id;
      }

      if (this.applicant.country) {
        this.applicant.countryId = this.applicant.country.id;
      }

      if (this.applicant.company) {
        this.applicant.companyId = this.applicant.company.id;
      }

      if (this.applicant.skills.length > 0) {
        this.applicant.skillIds = this.applicant.skills.map(skill => skill.id);
      }

      const self = this;
      const applicant = this.applicant;

      store.dispatch('UPDATE_APPLICANT', { id: applicant.id, applicant })
      .then(() => self.$router.push({
        name: 'candidate-overview',
        params: { id: this.id },
      }))
      .catch((errors) => {
        this.errors = errors;
      });
    },
  },
};
</script>
