<template lang="pug">
section.Page
  spinner(v-if="!applicant")
  div(v-else)
    div.container
      alert(:errors="errors", :defaultError="defaultError")
      div.is-pulled-right
        <a v-popover:actions class="button is-info">
          span.icon.is-small
            i.fa.fa-caret-down
          span Actions
        </a>
        popover(name="actions")
          div.DropdownMenu(role="menu")
            a.DropdownMenu-item(@click="navigateToApplicantEditForm")
              span.icon.is-small
                i.fa.fa-pencil-square-o
              span Edit
            a.DropdownMenu-item(@click="openModal(createNoteModal)")
              span.icon.is-small
                i.fa.fa-comments-o
              span Note
            a.DropdownMenu-item(@click="navigateToMailer")
              span.icon.is-small
                i.fa.fa-envelope
              span Email
            a.DropdownMenu-item(v-if="isPlaced", @click="updateStatus('open')")
              span.icon.is-small
                i.fa.fa-clock-o
              span Change to Open
            a.DropdownMenu-item(v-if="isOpen", @click="updateStatus('placed')")
              span.icon.is-small
                i.fa.fa-check
              span Change to Placed
            a.DropdownMenu-item(@click="openModal(removeModal)")
              span.icon.is-small
                i.fa.fa-trash-o
              span Remove

      div.Page-header.content
        h1.Page-header-title.title {{ getApplicantFullName(applicant.id) }}
        hr

    div.container
      div.Page-tabs.tabs.is-toggle.is-fullwidth
        ul
          li(:class="{ 'is-active': mode == 'overview' }", @click="setMode('overview')")
            a overview
          li(:class="{ 'is-active': mode == 'notes' }", @click="setMode('notes')")
            a notes
          li(:class="{ 'is-active': mode == 'emails' }", @click="setMode('emails')")
            a emails

      spinner(v-show="loading && this.mode != 'overview'")
      div(v-show="!loading")
        div(v-show="mode == 'notes'")
          spinner(v-if="gettingNotes")
          div(v-else)
            div(v-if="hasNotes")
              div(v-for="note in notes")
                note(:note="note", v-on:removeNote="removeNote(note)")
            div(v-else)
              p
                | There are no new notes.
                a(href="#", @click="openModal(createNoteModal)") Create one?
            pagination(
              :currentPage="currentPage",
              :recordsCount="recordsCount",
              :pageLimit="pageLimit()",
              v-on:getPage="getPage"
              v-if="hasNotes || currentQuery.page > 1")

        div(v-show="mode == 'emails'")
          spinner(v-if="gettingEmails")
          div(v-else)
            div(v-if="hasEmails")
              div(v-for="email in emails")
                email(:email="email")
            div(v-else)
              p
                | There are no new emails.
                a(href="#", @click="navigateToMailer") Create one?
            pagination(
              :currentPage="currentPage",
              :recordsCount="recordsCount",
              :pageLimit="pageLimit()",
              v-on:getPage="getPage"
              v-if="hasEmails || currentQuery.page > 1")

      nav.Panel.panel(v-show="mode == 'overview'")
          p.panel-heading details
          a.panel-block
            span.panel-icon
              i.fa.fa-globe
            | {{ applicant.country.name }}

          a.panel-block(v-if="applicant.company")
            span.panel-icon
              i.fa.fa-building
            router-link(:to = "{ name: 'company-overview', params: { id: applicant.company.id } }") {{ applicant.company.name }}

          a.panel-block
            span.panel-icon
              i.fa.fa-user
            | {{ professionString }}
            span.Page-tag.tag(:class="{ 'is-success': isPlaced === true, 'is-danger': isOpen === true }")
              | {{ applicant.status }}

          a.panel-block(v-if="applicant.phoneNumber")
            span.panel-icon
              i.fa.fa-suitcase
            | {{ applicant.phoneNumber }}

          a.panel-block(v-if="applicant.mobileNumber")
            span.panel-icon
              i.fa.fa-mobile
            | {{ applicant.mobileNumber }}

          a.panel-block(v-if="applicant.landlineNumber")
            span.panel-icon
              i.fa.fa-home
            | {{ applicant.landlineNumber }}

          a.panel-block(v-if="applicant.otherNumber")
            span.panel-icon
              i.fa.fa-phone
            | {{ applicant.phoneNumber }}

          a.panel-block(v-if="applicant.email")
            span.panel-icon
              i.fa.fa-envelope-o
            | {{ applicant.email }}

          a.panel-block
            span.panel-icon
              i.fa.fa-certificate
            span(v-if="skills.length === 0") No skills listed
            span.Page-tag.tag.is-dark(v-else, v-for="skill in skills")
              | {{ skill.name }}

    modal.modal(
      :title="removeModal.title",
      :active="removeModal.active",
      v-on:close="closeModal(removeModal)")
      component(
        :is="removeModal.component",
        :applicant="applicant"
        v-on:close="closeModal(removeModal)")

    modal.modal(
      :title="createNoteModal.title",
      :active="createNoteModal.active",
      v-on:close="closeModal(createNoteModal)")
      component(
        :is="createNoteModal.component",
        :forResource="'applicants'",
        :resourceId="id",
        v-on:close="closeModal(createNoteModal)")

    modal.modal(
      :title="removeNoteModal.title",
      :active="removeNoteModal.active",
      v-on:close="closeModal(removeNoteModal)")
      component(
        :note="removeNoteModal.note",
        :forResource="'applicants'",
        :resourceId="id",
        :is="removeNoteModal.component",
        v-on:close="closeModal(removeNoteModal)")
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import { APPLICANT_STATUS } from '@/store/recruitment/applicants';
import Alert from '@/components/Alert';
import CreateNote from '@/components/notes/CreateNote';
import Email from '@/components/mailer/Email';
import Modal from '@/components/Modal';
import Note from '@/components/notes/Note';
import Pagination from '@/components/Pagination';
import QueryBuilder from '@/mixins/QueryBuilder';
import RemoveApplicant from '@/components/applicants/RemoveApplicant';
import RemoveNote from '@/components/notes/RemoveNote';
import Spinner from '@/components/Spinner';
import StringHelper from '@/lib/utils/string';
import ObjectsHelper from '@/lib/utils/objects';

export default {
  name: 'applicant',
  mixins: [QueryBuilder],
  components: {
    Alert,
    CreateNote,
    Email,
    Modal,
    Note,
    Pagination,
    RemoveApplicant,
    RemoveNote,
    Spinner,
  },

  created() {
    const self = this;
    const id = this.id;
    this.loading = true;

    this.$store.commit('CLEAR_NOTES');
    this.$store.dispatch('FETCH_APPLICANT', { id })
    .then(() => self.$store.dispatch('FETCH_USERS'))
    .then(() => this.fetchResourcesByMode())
    .then(() => {
      self.loading = false;
    })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      createNoteModal: {
        active: false,
        title: 'Create Note',
        component: 'CreateNote',
      },

      defaultError: {
        title: 'Oops',
        detail: 'Unable to create applicant. Please try again',
      },

      errors: [],
      gettingEmails: false,
      gettingNotes: false,
      id: this.$route.params.id,
      loading: false,

      removeModal: {
        active: false,
        title: 'Remove Candidate',
        component: 'RemoveApplicant',
      },

      removeNoteModal: {
        note: null,
        active: false,
        title: 'Remove Note',
        component: 'RemoveNote',
      },
    };
  },

  computed: {
    ...mapGetters({
      getApplicantFullName: 'getApplicantFullName',
      isCurrentUser: 'isCurrentUser',
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      notes: 'getNotesByLatestCreationDate',
      emails: 'getEmailsByLatestCreationDate',
    }),

    ...mapState({
      applicant(state) {
        return state.recruitment.applicants[this.id];
      },
    }),

    canCurrentUserEdit() {
      return this.isCurrentUser(this.applicant.createdBy) || this.isCurrentUserAdmin;
    },

    hasEmails() {
      return this.emails.length > 0;
    },

    hasNotes() {
      return this.notes.length > 0;
    },

    isPlaced() {
      return this.applicant.status === APPLICANT_STATUS.placed;
    },

    isOpen() {
      return this.applicant.status === APPLICANT_STATUS.open;
    },

    professionString() {
      return StringHelper.capitalize(this.applicant.profession.name);
    },

    skills() {
      return ObjectsHelper.sortResource(this.applicant.skills, 'name');
    },
  },

  methods: {
    closeModal(modal) {
      modal.active = false;

      if (modal.title === this.createNoteModal.title && this.mode !== 'notes') {
        this.setMode('notes');
      }

      if (modal.title === this.removeNoteModal.title) {
        this.removeNoteModal.note = null;
      }
    },

    confirmRemoval() {
      this.$store.dispatch('REMOVE_APPLICANT');
    },

    fetchEmails(query) {
      const self = this;
      this.gettingEmails = true;
      this.$store.commit('CLEAR_EMAILS');
      this.$store.dispatch('FETCH_APPLICANT_EMAILS', { query, applicantId: this.id })
      .then(() => {
        self.gettingEmails = false;
      });
    },

    fetchNotes(query) {
      const self = this;
      this.gettingNotes = true;
      this.$store.commit('CLEAR_NOTES');
      this.$store.dispatch('FETCH_APPLICANT_NOTES', { query, applicantId: this.id })
      .then(() => {
        self.gettingNotes = false;
      });
    },

    fetchResourcesByMode() {
      const query = this.$route.query;

      if (this.mode === 'notes') {
        return this.fetchNotes(query);
      } else if (this.mode === 'emails') {
        return this.fetchEmails(query);
      }

      return Promise.resolve([]);
    },

    navigateToApplicantEditForm() {
      this.$router.push({
        name: 'edit-candidate',
        params: { id: this.applicant.id },
      });
    },

    navigateToMailer() {
      this.$router.push({
        name: 'mail-candidate',
        params: { id: this.applicant.id },
      });
    },

    openModal(modal) {
      modal.active = true;
    },

    removeNote(note) {
      this.removeNoteModal.note = note;
      this.openModal(this.removeNoteModal);
    },

    updateStatus(status) {
      this.applicant.status = status;
      if (this.applicant.skills.length > 0) {
        this.applicant.skillIds = this.applicant.skills.map(skill => skill.id);
      }

      const self = this;
      const applicant = this.applicant;

      this.$store.dispatch('UPDATE_APPLICANT', { id: applicant.id, applicant })
      .then(() => {
        self.errors = [];
      })
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
