<template lang="pug">
section.Page
  div.container
    div.Page-header.content
      h1.Page-header-title.title(v-if="client && canCurrentUserMail")
        | Send Email to {{ getClientFullName(client.id) }}
      h1.Page-header-title.title(v-else)
        | Send Email
      hr

  div.container
    mailer-form(v-if="client && canCurrentUserMail", :recipient="client", :recipientType="'client'")
    div(v-else-if="!client")
      p Client does not exist.
    div(v-else-if="!canCurrentUserMail")
      p You do not have permission to email this client.
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import MailerForm from '@/components/mailer/MailerForm';
import Spinner from '@/components/Spinner';

export default {
  name: 'mail-client',
  components: {
    MailerForm,
    Spinner,
  },

  created() {
    const id = this.id;
    this.$store.dispatch('FETCH_CLIENT', { id })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      id: this.$route.params.id,
    };
  },

  computed: {
    ...mapGetters({
      getClientFullName: 'getClientFullName',
      isCurrentUser: 'isCurrentUser',
      isCurrentUserAdmin: 'isCurrentUserAdmin',
    }),

    ...mapState({
      client(state) {
        return state.recruitment.clients[this.id];
      },
    }),

    canCurrentUserMail() {
      if (!this.client) {
        return false;
      }

      return this.isCurrentUser(this.client.createdBy) || this.isCurrentUserAdmin;
    },
  },
};
</script>
