<template lang="pug">
section.Page
  spinner(v-if="!client")
  div(v-else)
    div.container
      div.is-pulled-right
        <a v-popover:actions class="button is-info">
          span.icon.is-small
            i.fa.fa-caret-down
          span Actions
        </a>
        popover(name="actions")
          div.DropdownMenu(role="menu")
            a.DropdownMenu-item(@click="navigateToClientEditForm")
              span.icon.is-small
                i.fa.fa-pencil-square-o
              span Edit
            a.DropdownMenu-item(@click="openModal(createNoteModal)")
              span.icon.is-small
                i.fa.fa-comments-o
              span Note
            a.DropdownMenu-item(@click="navigateToMailer")
              span.icon.is-small
                i.fa.fa-envelope
              span Email
            a.DropdownMenu-item(@click="openModal(removeModal)")
              span.icon.is-small
                i.fa.fa-trash-o
              span Remove

      div.Page-header.content
        h1.Page-header-title.title {{ getClientFullName(client.id) }}
        hr

    div.container
      div.Page-tabs.tabs.is-toggle.is-fullwidth
        ul
          li(:class="{ 'is-active': mode == 'overview' }", @click="setMode('overview')")
            a overview
          li(:class="{ 'is-active': mode == 'notes' }", @click="setMode('notes')")
            a notes
          li(:class="{ 'is-active': mode == 'emails' }", @click="setMode('emails')")
            a emails

      spinner(v-show="loading && this.mode != 'overview'")
      div(v-show="!loading")
        div(v-show="mode == 'notes'")
          spinner(v-if="gettingNotes")
          div(v-else)
            div(v-if="hasNotes")
              div(v-for="note in notes")
                note(:note="note", v-on:removeNote="removeNote(note)")
            div(v-else)
              p
                | There are no new notes.
                a(href="#", @click="openModal(createNoteModal)") Create one?
            pagination(
              :currentPage="currentPage",
              :recordsCount="recordsCount",
              :pageLimit="pageLimit()",
              v-on:getPage="getPage"
              v-if="hasNotes || currentQuery.page > 1")

        div(v-show="mode == 'emails'")
          spinner(v-if="gettingEmails")
          div(v-else)
            div(v-if="hasEmails")
              div(v-for="email in emails")
                email(:email="email")
            div(v-else)
              p
                | There are no new emails.
                a(href="#", @click="navigateToMailer") Create one?
            pagination(
              :currentPage="currentPage",
              :recordsCount="recordsCount",
              :pageLimit="pageLimit()",
              v-on:getPage="getPage"
              v-if="hasEmails || currentQuery.page > 1")

      nav.Panel.panel(v-show="mode == 'overview'")
        p.panel-heading details
        a.panel-block
          span.panel-icon
            i.fa.fa-globe
          | {{ client.country.name }}

        a.panel-block(v-if="client.company")
          span.panel-icon
            i.fa.fa-building
          router-link(:to = "{ name: 'company-overview', params: { id: client.company.id } }") {{ client.company.name }}

        a.panel-block
          span.panel-icon
            i.fa.fa-user
          | {{ client.position }}

        a.panel-block(v-if="client.primaryNumber")
          span.panel-icon
            i.fa.fa-suitcase
          | {{ client.primaryNumber }}

        a.panel-block(v-if="client.mobileNumber")
          span.panel-icon
            i.fa.fa-mobile
          | {{ client.mobileNumber }}

        a.panel-block(v-if="client.secondaryNumber")
          span.panel-icon
            i.fa.fa-home
          | {{ client.secondaryNumber }}

        a.panel-block(v-if="client.tertiaryNumber")
          span.panel-icon
            i.fa.fa-phone
          | {{ client.tertiaryNumber }}

        a.panel-block(v-if="client.email")
          span.panel-icon
            i.fa.fa-envelope-o
          | {{ client.email }}

    modal.modal(
      :title="removeModal.title",
      :active="removeModal.active",
      v-on:close="closeModal(removeModal)")
      component(
        :is="removeModal.component",
        :client="client"
        v-on:close="closeModal(removeModal)")

    modal.modal(
      :title="createNoteModal.title",
      :active="createNoteModal.active",
      v-on:close="closeModal(createNoteModal)")
      component(
        :is="createNoteModal.component",
        :forResource="'clients'",
        :resourceId="id",
        v-on:close="closeModal(createNoteModal)")

    modal.modal(
      :title="removeNoteModal.title",
      :active="removeNoteModal.active",
      v-on:close="closeModal(removeNoteModal)")
      component(
        :note="removeNoteModal.note",
        :forResource="'clients'",
        :resourceId="id",
        :is="removeNoteModal.component",
        v-on:close="closeModal(removeNoteModal)")
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import CreateNote from '@/components/notes/CreateNote';
import Email from '@/components/mailer/Email';
import Modal from '@/components/Modal';
import Note from '@/components/notes/Note';
import Pagination from '@/components/Pagination';
import QueryBuilder from '@/mixins/QueryBuilder';
import RemoveClient from '@/components/clients/RemoveClient';
import RemoveNote from '@/components/notes/RemoveNote';
import Spinner from '@/components/Spinner';

export default {
  name: 'client',
  mixins: [QueryBuilder],
  components: {
    CreateNote,
    Email,
    Modal,
    Note,
    Pagination,
    RemoveClient,
    RemoveNote,
    Spinner,
  },

  created() {
    const self = this;
    const id = this.id;
    this.loading = true;

    this.$store.dispatch('FETCH_CLIENT', { id })
    .then(() => self.$store.dispatch('FETCH_USERS'))
    .then(() => this.fetchResourcesByMode())
    .then(() => {
      self.loading = false;
    })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      id: this.$route.params.id,
      gettingNotes: false,
      gettingEmails: false,
      createNoteModal: {
        active: false,
        title: 'Create Note',
        component: 'CreateNote',
      },

      removeModal: {
        active: false,
        title: 'Remove Client',
        component: 'RemoveClient',
      },

      removeNoteModal: {
        note: null,
        active: false,
        title: 'Remove Note',
        component: 'RemoveNote',
      },
    };
  },

  computed: {
    ...mapGetters({
      getClientFullName: 'getClientFullName',
      isCurrentUser: 'isCurrentUser',
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      notes: 'getNotesByLatestCreationDate',
      emails: 'getEmailsByLatestCreationDate',
    }),

    ...mapState({
      client(state) {
        return state.recruitment.clients[this.id];
      },
    }),

    canCurrentUserEdit() {
      return this.isCurrentUser(this.client.createdBy) || this.isCurrentUserAdmin;
    },

    hasEmails() {
      return this.emails.length > 0;
    },

    hasNotes() {
      return this.notes.length > 0;
    },
  },

  methods: {
    closeModal(modal) {
      modal.active = false;

      if (modal.title === this.createNoteModal.title && this.mode !== 'notes') {
        this.setMode('notes');
      }

      if (modal.title === this.removeNoteModal.title) {
        this.removeNoteModal.note = null;
      }
    },

    fetchEmails(query) {
      const self = this;
      this.gettingEmails = true;
      this.$store.commit('CLEAR_EMAILS');
      this.$store.dispatch('FETCH_CLIENT_EMAILS', { query, clientId: this.id })
      .then(() => {
        self.gettingEmails = false;
      });
    },

    fetchNotes(query) {
      const self = this;
      this.gettingNotes = true;
      this.$store.commit('CLEAR_NOTES');
      this.$store.dispatch('FETCH_CLIENT_NOTES', { query, clientId: this.id })
      .then(() => {
        self.gettingNotes = false;
      });
    },

    fetchResourcesByMode() {
      const query = this.$route.query;

      if (this.mode === 'notes') {
        return this.fetchNotes(query);
      } else if (this.mode === 'emails') {
        return this.fetchEmails(query);
      }

      return Promise.resolve([]);
    },

    navigateToClientEditForm() {
      this.$router.push({
        name: 'edit-client',
        params: { id: this.client.id },
      });
    },

    navigateToMailer() {
      this.$router.push({
        name: 'mail-client',
        params: { id: this.client.id },
      });
    },

    openModal(modal) {
      modal.active = true;
    },

    removeNote(note) {
      this.removeNoteModal.note = note;
      this.openModal(this.removeNoteModal);
    },
  },
};
</script>
