<template lang="pug">
section.Page.container
  div.field.is-grouped.is-pulled-right
    p.control
      a.button.is-primary(@click="navigateToClientForm")
        span.icon.is-small
          i.fa.fa-plus
        span Client
    p.control
      a.button.is-primary(
        @click="openModal(composeEmailModal)",
        :disabled="emailRecipients.length < 1")
        span.icon.is-small
          i.fa.fa-send
        span Compose Email

  div.Page-header
    h1.Page-header-title.title Clients
    hr

    div.container(v-if="isTeamLead")
      div.Page-tabs.tabs.is-toggle.is-fullwidth
        ul
          li(
            :class="{ 'is-active': mode == 'user' }",
            @click="setMode('user')")
            a my clients
          li(
            :class="{ 'is-active': mode == 'team' }",
            @click="setMode('team')")
            a my teams' clients

    spinner(v-show="loading")
    div(v-show="!loading")
      client-table(
        :clients="clients",
        :showCreator="mode == 'team' && isTeamLead"
        v-on:sendEmailRecipientIds="setEmailRecipients",
        v-on:resetOptionalQueryParameters="resetOptionalQueryParameters")

      label.is-pulled-left Show:&nbsp;
      div.select.is-pulled-left.RowCount
        select(v-model="count", @change="setCount(count)")
          option(value="50") 50
          option(value="100") 100
          option(value="250") 250
          option(value="400") 400

      pagination(
        :currentPage="currentPage",
        :recordsCount="recordsCount",
        :pageLimit="pageLimit()",
        v-on:getPage="getPage")

    modal.modal(
      :title="composeEmailModal.title",
      :active="composeEmailModal.active",
      :size="'large'",
      v-on:close="closeModal(composeEmailModal)")
      component(
        :is="composeEmailModal.component",
        :active="composeEmailModal.active",
        :recipients="emailRecipients",
        :recipientType="'client'",
        v-on:close="closeModal(composeEmailModal)")
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import ClientTable from '@/components/clients/ClientTable';
import ComposeEmail from '@/components/mailer/ComposeEmail';
import Modal from '@/components/Modal';
import Pagination from '@/components/Pagination';
import QueryBuilder from '@/mixins/QueryBuilder';
import Spinner from '@/components/Spinner';

export default {
  name: 'clients',
  mixins: [QueryBuilder],
  components: {
    ClientTable,
    ComposeEmail,
    Pagination,
    Modal,
    Spinner,
  },

  created() {
    const self = this;
    this.loading = true;

    this.$store.dispatch('FETCH_TEAMS', {})
    .then(() => this.fetchResourcesByMode())
    .then(() => {
      self.loading = false;
    })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      composeEmailModal: {
        active: false,
        title: 'Compose Email',
        component: 'ComposeEmail',
      },

      loading: false,
      emailRecipients: [],
      count: this.$route.query.count
        ? parseInt(this.$route.query.count, 10)
        : 100,
    };
  },

  computed: {
    ...mapGetters({
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      clients: 'getAlphabeticalClients',
      getTeamsLead: 'getTeamsLead',
    }),

    ...mapState({
      currentUserId: state => state.users.currentUserId,
    }),

    isTeamLead() {
      return this.getTeamsLead(this.currentUserId).length > 0;
    },
  },

  methods: {
    closeModal(modal) {
      modal.active = false;
    },

    fetchMyClients(query) {
      this.$store.commit('CLEAR_CLIENTS');
      if (this.isCurrentUserAdmin) {
        return this.$store.dispatch('FETCH_CLIENTS', { query });
      }

      return this.$store.dispatch('FETCH_CLIENTS_BY_USER', { query, userId: this.currentUserId });
    },

    fetchResourcesByMode() {
      let query = this.$route.query;

      // query will be empty if user navigated the route from another page
      if (!Object.values(query).length) {
        query = this.setDefaultPaginationQuery(query, this.mode);
      }

      if (this.mode === 'user') {
        return this.fetchMyClients(query);
      } else if (this.mode === 'team') {
        return this.fetchTeamClients(query);
      }

      return Promise.resolve([]);
    },

    fetchTeamClients(query) {
      this.$store.commit('CLEAR_CLIENTS');
      return this.$store.dispatch('FETCH_CLIENTS_BY_TEAM_LEAD', { query, teamLeadId: this.currentUserId });
    },

    navigateToClientForm() {
      this.$router.push({ name: 'create-client' });
    },

    setEmailRecipients(emailRecipientIds) {
      const self = this;

      this.emailRecipients = emailRecipientIds.map(id => (
        self.$store.state.recruitment.clients[id]
      ));
    },

    openModal(modal) {
      modal.active = true;
    },
  },
};
</script>
