<template lang="pug">
section.Page.container
  div.Page-header.content
    h1.Page-header-title.title Edit Client
    hr

  form.Form(v-on:submit.prevent="updateClient" v-if="client")
    alert(:errors="errors", :defaultError="defaultError")
    div.field
      label.label First Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Alice"
          v-model="client.firstName")

    div.field
      label.label Last Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Armstrong"
          v-model="client.lastName")

    div.field
      label.label Position
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Armstrong"
          v-model="client.position")

    div.field
      label.label Country
        span.Form--required *
      p.control
      multiselect(
        v-model="client.country",
        :options="Object.values(countries)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Company
        span.Form--required * 
        small
          a(href="#" @click.prevent="openModal(createCompanyModal)") create one
      p.control
      multiselect(
        v-model="client.company",
        :options="Object.values(companies)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Email
      p.control
        input.input(
          type="text"
          placeholder="example@mail.com"
          v-model="client.email")

    div.field
      label.label Work Number
      p.control
        input.input(
          type="text"
          placeholder="9318256"
          v-model="client.primaryNumber")

    div.field
      label.label Mobile Number
      p.control
        input.input(
          type="text"
          placeholder="+63927633927"
          v-model="client.mobileNumber")

    div.field
      label.label Home Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="client.secondaryNumber")

    div.field
      label.label Other Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="client.tertiaryNumber")

    div.Form-actions.field.is-grouped
      button.Form-actions-button.button.is-primary(type="submit") Submit

    modal.modal(
      :title="createCompanyModal.title",
      :active="createCompanyModal.active",
      v-on:close="closeModal(createCompanyModal)")
      component(
        :is="createCompanyModal.component",
        v-on:close="closeModal(createCompanyModal)",
        v-on:onCreateCompany="onCreateCompany")
</template>

<script>
import { mapState } from 'vuex';
import Multiselect from 'vue-multiselect';
import Alert from '@/components/Alert';
import FormModals from '@/mixins/FormModals';
import store from '@/store';

export default {
  name: 'create-client-page',
  mixins: [FormModals],
  components: {
    Alert,
    Multiselect,
  },

  created() {
    this.$store.dispatch('FETCH_CLIENT', { id: this.id })
    .then((client) => {
      this.client = client;
    })
    .then(() => this.$store.dispatch('FETCH_COUNTRIES'))
    .then(() => this.$store.dispatch('FETCH_COMPANIES', {}))
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      id: this.$route.params.id,
      client: { ...this.client },
      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to update client. Please try again',
      },
    };
  },

  computed: {
    ...mapState({
      client: state => state.recruitment.clients[this.id],
      companies: state => state.recruitment.companies,
      countries: state => state.recruitment.countries,
    }),
  },

  methods: {
    onCreateCompany(company) {
      this.client.company = company;
    },

    updateClient() {
      if (this.client.country) {
        this.client.countryId = this.client.country.id;
      }

      if (this.client.company) {
        this.client.companyId = this.client.company.id;
      }

      const self = this;
      store.dispatch('UPDATE_CLIENT', { id: this.id, client: this.client })
      .then(client => self.$router.push({ name: 'client-overview', params: { id: client.id } }))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>

<style src="node_modules/vue-multiselect/dist/vue-multiselect.min.css"></style>
