<template lang="pug">
section.Page.container
  div.Page-header.content
    h1.Page-header-title.title Create Client
    hr

  div.Form
    alert(:errors="errors", :defaultError="defaultError")
    div.field
      label.label First Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Alice"
          v-model="client.firstName")

    div.field
      label.label Last Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Armstrong"
          v-model="client.lastName")

    div.field
      label.label Position
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Recruiter"
          v-model="client.position")

    div.field
      label.label Country
        span.Form--required *
      p.control
      multiselect(
        v-model="country",
        :options="Object.values(countries)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Company
        span.Form--required * 
        small
          a(href="#" @click.prevent="openModal(createCompanyModal)") create one
      p.control
      multiselect(
        v-model="company",
        :options="Object.values(companies)",
        track-by="name",
        label="name",
      )

    div.field
      label.label Email
      p.control
        input.input(
          type="text"
          placeholder="example@mail.com"
          v-model="client.email")

    div.field
      label.label Work Number
      p.control
        input.input(
          type="text"
          placeholder="9318256"
          v-model="client.primaryNumber")

    div.field
      label.label Mobile Number
      p.control
        input.input(
          type="text"
          placeholder="+63927633927"
          v-model="client.mobileNumber")

    div.field
      label.label Home Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="client.secondaryNumber")

    div.field
      label.label Other Number
      p.control
        input.input(
          type="text"
          placeholder="029381735"
          v-model="client.tertiaryNumber")

    div.Form-actions.field.is-grouped
      button.Form-actions-button.button.is-primary(@click="validateClient") Submit

    modal.modal(
      :title="createCompanyModal.title",
      :active="createCompanyModal.active",
      v-on:close="closeModal(createCompanyModal)")
      component(
        :is="createCompanyModal.component",
        v-on:close="closeModal(createCompanyModal)",
        v-on:onCreateCompany="onCreateCompany")

    modal.modal(
      :title="duplicateClientModal.title",
      :active="duplicateClientModal.active",
      v-on:close="closeModal(duplicateClientModal)")
      component(
        :client="client",
        :duplicate="duplicate",
        :is="duplicateClientModal.component",
        v-on:close="closeModal(duplicateClientModal)")
</template>

<script>
import { mapState } from 'vuex';
import Alert from '@/components/Alert';
import DuplicateClientWarning from '@/components/clients/DuplicateClientWarning';
import FormModals from '@/mixins/FormModals';
import Multiselect from 'vue-multiselect';
import store from '@/store';

export default {
  name: 'create-client-page',
  mixins: [FormModals],
  components: {
    Alert,
    DuplicateClientWarning,
    Multiselect,
  },

  created() {
    this.$store.dispatch('FETCH_COUNTRIES')
    .then(() => this.$store.dispatch('FETCH_COMPANIES', {}))
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data: () => ({
    client: {
      firstName: '',
      lastName: '',
      primaryNumber: '',
      mobileNumber: '',
      secondaryNumber: '',
      tertiaryNumber: '',
      email: '',
      position: '',
    },

    country: '',
    company: '',
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to create client. Please try again',
    },

    duplicate: {
      id: 0,
      firstName: '',
      lastName: '',
    },

    duplicateClientModal: {
      active: false,
      title: 'This client already exists!',
      component: 'DuplicateClientWarning',
    },
  }),

  computed: {
    ...mapState({
      companies: state => state.recruitment.companies,
      countries: state => state.recruitment.countries,
      currentUserId: state => state.users.currentUserId,
    }),
  },

  methods: {
    createClient() {
      const self = this;
      store.dispatch('CREATE_CLIENT', { client: this.client })
      .then(client => self.$router.push({ name: 'client-overview', params: { id: client.id } }))
      .catch((errors) => {
        self.errors = errors;
      });
    },

    validateClient() {
      if (this.country) {
        this.client.countryId = this.country.id;
      }

      if (this.company) {
        this.client.companyId = this.company.id;
      }

      if (!this.client.email.length) {
        this.createClient();
      }

      const self = this;
      const fetchArguments = {
        userId: this.currentUserId,
        email: encodeURIComponent(this.client.email),
      };

      store.dispatch('FETCH_CLIENTS_BY_EMAIL', fetchArguments)
      .then((clients) => {
        if (clients.length) {
          self.duplicate = clients[0];
          self.duplicateClientModal.active = true;
        } else {
          self.createClient();
        }
      });
    },
  },
};
</script>

<style src="node_modules/vue-multiselect/dist/vue-multiselect.min.css"></style>
