<template lang="pug">
section.Page
  spinner(v-if="!company")
  div(v-else)
    div.container
      div.field.is-grouped.is-pulled-right
        a.button.is-primary(@click="openModal(editModal)")
          span.icon.is-small
            i.fa.fa-pencil-square-o
          span Edit

      div.Page-header.content
        h1.Page-header-title.title {{ company.name }}
        hr

    div.container
      div.Page-tabs.tabs.is-toggle.is-fullwidth
        ul
          li(:class="{ 'is-active': this.mode == 'overview' }", @click="setMode('overview')")
            a overview
          li(:class="{ 'is-active': this.mode == 'applicants' }", @click="setMode('applicants')")
            a candidates
          li(:class="{ 'is-active': this.mode == 'clients' }", @click="setMode('clients')")
            a clients

      spinner(v-show="loading && this.mode != 'overview'")
      div(v-show="!loading")
        applicant-table(
          :applicants="applicants",
          :showCreator="isCurrentUserTeamLead",
          :pageLimit="pageLimit()",
          v-show="modeHasTable",
          v-if="this.mode == 'applicants'",
          v-on:getPage="getPage",
          v-on:resetOptionalQueryParameters="resetOptionalQueryParameters")

        client-table(
          :clients="clients",
          :showCreator="isCurrentUserTeamLead",
          :pageLimit="pageLimit()",
          v-show="modeHasTable",
          v-if="this.mode == 'clients'",
          v-on:getPage="getPage",
          v-on:resetOptionalQueryParameters="resetOptionalQueryParameters")

        pagination(
          :currentPage="currentPage",
          :recordsCount="recordsCount",
          :pageLimit="pageLimit()",
          v-on:getPage="getPage",
          v-show="modeHasTable")

      nav.Panel.panel(v-if="this.mode == 'overview'")
        p.panel-heading details
        a.panel-block
          span.panel-icon
            i.fa.fa-globe
          | {{ company.country.name }}

        a.panel-block(v-if="company.phoneNumber")
          span.panel-icon
            i.fa.fa-phone
          | {{ company.phoneNumber }}

        a.panel-block(v-if="company.email")
          span.panel-icon
            i.fa.fa-envelope-o
          | {{ company.email }}

    modal.modal(
      :title="editModal.title",
      :active="editModal.active",
      v-on:close="closeModal(editModal)")
      component(
        :is="editModal.component",
        :companyToUpdate="company"
        v-on:close="closeModal(editModal)")
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import ApplicantTable from '@/components/applicants/ApplicantTable';
import ClientTable from '@/components/clients/ClientTable';
import EditCompany from '@/components/companies/EditCompany';
import Modal from '@/components/Modal';
import Pagination from '@/components/Pagination';
import QueryBuilder from '@/mixins/QueryBuilder';
import Spinner from '@/components/Spinner';

export default {
  name: 'company',
  mixins: [QueryBuilder],
  components: {
    ApplicantTable,
    ClientTable,
    EditCompany,
    Modal,
    Pagination,
    Spinner,
  },

  created() {
    const self = this;
    this.loading = true;

    this.$store.dispatch('FETCH_COMPANY', { id: this.id })
    .then(() => this.$store.dispatch('FETCH_TEAMS', {}))
    .then(() => this.fetchResourcesByMode())
    .then(() => {
      self.loading = false;
    })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      editModal: {
        active: false,
        title: 'Edit Company Details',
        component: 'EditCompany',
      },

      id: this.$route.params.id,
      loading: false,
    };
  },

  computed: {
    ...mapGetters({
      applicants: 'getAlphabeticalApplicants',
      clients: 'getAlphabeticalClients',
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      getTeamsLead: 'getTeamsLead',
    }),

    ...mapState({
      currentUserId: state => (state.users.currentUserId),
      company(state) {
        return state.recruitment.companies[this.id];
      },
    }),

    isCurrentUserTeamLead() {
      return this.getTeamsLead(this.currentUserId).length > 0;
    },
  },

  methods: {
    closeModal(modal) {
      modal.active = false;
    },

    fetchApplicants(query) {
      const companyId = this.id;
      const teamsLead = this.getTeamsLead(this.currentUserId);

      this.$store.commit('CLEAR_APPLICANTS');
      if (this.isCurrentUserAdmin) {
        return this.$store.dispatch('FETCH_APPLICANTS_BY_COMPANY', { query, companyId });
      }

      if (this.isCurrentUserTeamLead) {
        const teamApplicantPromises = teamsLead.map(team => (
          this.$store.dispatch({
            type: 'FETCH_APPLICANTS_BY_COMPANY_AND_TEAM',
            companyId,
            query,
            teamId: team.id,
          })
        ));

        return Promise.all(teamApplicantPromises);
      }

      return this.$store.dispatch({
        type: 'FETCH_APPLICANTS_BY_COMPANY_AND_USER',
        companyId,
        query,
        userId: this.currentUserId,
      });
    },

    fetchClients(query) {
      const companyId = this.id;
      const teamsLead = this.getTeamsLead(this.currentUserId);

      this.$store.commit('CLEAR_CLIENTS');
      if (this.isCurrentUserAdmin) {
        return this.$store.dispatch('FETCH_CLIENTS_BY_COMPANY', { query, companyId });
      }

      if (this.isCurrentUserTeamLead) {
        const teamClientPromises = teamsLead.map(team => (
          this.$store.dispatch({
            type: 'FETCH_CLIENTS_BY_COMPANY_AND_TEAM',
            companyId,
            query,
            teamId: team.id,
          })
        ));

        return Promise.all(teamClientPromises);
      }

      return this.$store.dispatch({
        type: 'FETCH_CLIENTS_BY_COMPANY_AND_USER',
        companyId,
        query,
        userId: this.currentUserId,
      });
    },

    fetchResourcesByMode() {
      const query = this.$route.query;

      if (this.mode === 'applicants') {
        return this.fetchApplicants(query);
      } else if (this.mode === 'clients') {
        return this.fetchClients(query);
      }

      return Promise.resolve([]);
    },

    openModal(modal) {
      modal.active = true;
    },
  },
};
</script>
