<template lang="pug">
section.Paged.container
  spinner(v-if="!companies")
  div(v-else)
    div.field.is-grouped.is-pulled-right
      a.button.is-primary(@click="openModal(createModal, null)")
        span.icon.is-small
          i.fa.fa-plus
        span Company

    div.Page-header.content
      h1.Page-header-title.title Companies
      hr

    spinner(v-show="loading")
    div.container(v-show="!loading")
      company-table(:companies="companies")

    modal.modal(
      :title="createModal.title",
      :active="createModal.active",
      v-on:close="closeModal(createModal)")
      component(:is="createModal.component" v-on:close="closeModal(createModal)")
</template>

<script>
import { mapGetters } from 'vuex';
import CompanyTable from '@/components/companies/CompanyTable';
import CreateCompany from '@/components/companies/CreateCompany';
import Modal from '@/components/Modal';
import Pagination from '@/components/Pagination';
import Spinner from '@/components/Spinner';

export default {
  name: 'companies',
  components: {
    CompanyTable,
    CreateCompany,
    Modal,
    Pagination,
    Spinner,
  },

  created() {
    this.$store.commit('CLEAR_COMPANIES');
    this.$store.dispatch('FETCH_COMPANIES', {})
    .then(() => {
      this.loading = false;
    })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      loading: true,
      createModal: {
        active: false,
        title: 'Create Company',
        component: 'CreateCompany',
        company: null,
      },
    };
  },

  computed: {
    ...mapGetters({
      companies: 'getAlphabeticalCompanies',
    }),
  },

  methods: {
    openModal(modal, company) {
      modal.company = company;
      modal.active = true;
    },

    closeModal(modal) {
      modal.company = null;
      modal.active = false;
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
