<template lang="pug">
section.Page.Dashboard
  spinner(v-if="!resourcesLoaded")
  div(v-else)
    div.Page-header.container.content
      h1.Page-header-title.title Dashboard
      hr

    div.container
      div.Page-tabs.tabs.is-toggle.is-fullwidth
        ul
          li(:class="{ 'is-active': this.mode == 'applicants' }", @click="setMode('applicants')")
            a latest candidates
          li(:class="{ 'is-active': this.mode == 'clients' }", @click="setMode('clients')")
            a latest clients
          li(:class="{ 'is-active': this.mode == 'companies' }", @click="setMode('companies')")
            a latest companies
          li(:class="{ 'is-active': this.mode == 'teams' }", @click="setMode('teams')")
            a latest teams

      div(v-if="this.mode == 'applicants'")
        applicant-table(:applicants="applicants")
        router-link.button.is-primary.is-pulled-right.Dashboard-viewLink(:to="{ name: 'applicants-user' }")
          | View all candidates →

      div(v-if="this.mode == 'clients'")
        client-table(:clients="clients")
        router-link.button.is-primary.is-pulled-right.Dashboard-viewLink(:to="{ name: 'clients-user' }")
          | View all clients →

      div(v-if="this.mode == 'companies'")
        company-table(:companies="companies")
        router-link.button.is-primary.is-pulled-right.Dashboard-viewLink(:to="{ name: 'companies' }")
          | View all companies →

      div(v-if="this.mode == 'teams'")
        team-table(:teams="teams")
        router-link.button.is-primary.is-pulled-right.Dashboard-viewLink(:to="{ name: 'teams' }")
          | View all teams →
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import ApplicantTable from '@/components/applicants/ApplicantTable';
import ClientTable from '@/components/clients/ClientTable';
import CompanyTable from '@/components/companies/CompanyTable';
import Spinner from '@/components/Spinner';
import TeamTable from '@/components/teams/TeamTable';
import store from '@/store';

export default {
  name: 'dashboard',
  components: {
    ApplicantTable,
    ClientTable,
    CompanyTable,
    Spinner,
    TeamTable,
  },

  created() {
    const query = {
      sort_by: 'updated_at',
      sort: 'desc',
      count: 10,
    };

    const userId = this.currentUserId;
    const self = this;

    if (this.isCurrentUserAdmin) {
      store.dispatch('FETCH_APPLICANTS', { query })
      .then(() => store.dispatch('FETCH_CLIENTS', { query }))
      .then(() => store.dispatch('FETCH_TEAMS', { query }))
      .then(() => store.dispatch('FETCH_COMPANIES', { query }))
      .then(() => store.dispatch('FETCH_USERS', {}))
      .then(() => {
        self.resourcesLoaded = true;
      })
      .catch((message) => {
        self.loading = false;
        const error = message[0];
        this.$store.commit('SET_ERROR_BY_STATUS', {
          status: error.status,
          message: error.title,
        });
      });
    } else {
      store.dispatch('FETCH_APPLICANTS_BY_USER', { query, userId })
      .then(() => store.dispatch('FETCH_CLIENTS_BY_USER', { query, userId }))
      .then(() => store.dispatch('FETCH_TEAMS_BY_USER', { query, userId }))
      .then(() => store.dispatch('FETCH_COMPANIES', { query }))
      .then(() => store.dispatch('FETCH_USERS', {}))
      .then(() => {
        self.resourcesLoaded = true;
      })
      .catch((message) => {
        self.loading = false;
        const error = message[0];
        this.$store.commit('SET_ERROR_BY_STATUS', {
          status: error.status,
          message: error.title,
        });
      });
    }
  },

  data() {
    return {
      mode: 'applicants',
      resourcesLoaded: false,
    };
  },

  computed: {
    ...mapGetters({
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      applicants: 'getMostRecentApplicants',
      companies: 'getMostRecentCompanies',
      clients: 'getMostRecentClients',
      teams: 'getMostRecentTeams',
    }),
    ...mapState({
      currentUserId: state => state.users.currentUserId,
      users: state => state.users.users,
    }),
  },

  methods: {
    setMode(mode) {
      this.mode = mode;
    },
  },
};
</script>

<style lang="stylus" scoped>
@import "~assets/stylesheets/utilities.styl"

.Dashboard
  &-viewLink
    margin-left: 5px
</style>
