<template lang="pug">
div.LoginPage
  div.LoginPage-box.box.centered
    div.media
      div.LoginPage-form.centered.content
        div.LoginPage-form-title.title.is-3 Log in
        hr

        alert(:errors="errors", :defaultError="defaultError")
        form(v-on:submit.prevent="login")
          div.field
            p.control.has-icons-left
              input.input(type="text" placeholder="username" v-model="username")

          div.field
            p.control.has-icons-left
              input.input(type="password" placeholder="******" v-model="password")

          div.Modal-actions.field.is-grouped
            button.button.is-primary(type="submit") Login
</template>

<script>
import Alert from '@/components/Alert';
import lscache from 'lscache';

export default {
  name: 'login',
  components: { Alert },

  data() {
    return {
      username: '',
      password: '',
      errors: [],
      invalidCredentialsError: {
        title: 'Oops',
        detail: 'Invalid credentials',
      },
      defaultError: {
        title: 'Oops',
        detail: 'Unable to login',
      },
    };
  },

  methods: {
    initializeStoreFromCache() {
      const users = lscache.get('users');
      if (users) {
        this.$store.commit('SET_USERS', { users });
      }
    },

    setCurrentUser(expiration) {
      const self = this;

      return this.$store.dispatch('FETCH_USER_BY_USERNAME', { username: this.username })
      .then((user) => {
        self.$store.commit('SET_CURRENT_USER', { id: user.id });
        lscache.set('ras-currentUserId', user.id, expiration);
        return Promise.resolve(user);
      })
      .catch(() => {
        self.errors = [self.defaultError];
        return Promise.reject(self.errors);
      });
    },

    getToken() {
      const self = this;

      return this.$store.dispatch('FETCH_TOKEN', {
        username: this.username,
        password: this.password,
      })
      .then((token) => {
        lscache.set('ras-token', token.id, token.expiration);
        return Promise.resolve(token);
      })
      .catch(() => {
        self.errors = [self.invalidCredentialsError];
        return Promise.reject(self.errors);
      });
    },

    login() {
      const self = this;

      this.getToken()
      .then(token => self.setCurrentUser(token.expiration))
      .then(() => {
        self.errors = [];
        self.$router.push({ name: 'dashboard' });
      });
    },
  },

  beforeRouteLeave(to, from, next) {
    if (to.name !== 'login') {
      this.initializeStoreFromCache();
      next();
    }
  },
};
</script>

<style lang="stylus" scoped>
@import "~assets/stylesheets/utilities.styl"

.LoginPage
  background-image: url('~assets/images/homepage.jpg')
  background-size: cover
  overflow: auto
  height: 100%
  flex: 1
  
  &-box
    margin-top: 100px
    width: 400px
    border-top: 2px solid $orange;

  &-form
    width: 75%
  
    &-title
      text-align: center
</style>
