<template lang="pug">
section.Page
  div.container
    div.Page-header.content
      h1.Page-header-title.title
        | Page Not Found
      h4.Page-header-subtitle.subtitle
        | Oops! This page doesn't exist yet.
</template>

<script>
export default {
  name: 'not-found',
};
</script>
