<template lang="pug">
section.Page
  spinner(v-if="!skills")
  div(v-else)
    div.container
      div.field.is-grouped.is-pulled-right
        p.control
          a.button.is-primary(@click="openModal(createModal)")
            span.icon.is-small
              i.fa.fa-plus
            span Create

      div.Page-header.content
        h1.Page-header-title.title
          | Skills
        hr

    div.container
      nav.Panel.panel
        p.panel-heading skills
        a.panel-block.Skills-name(v-for="skill in skills")
          span.panel-icon
            i.fa.fa-certificate
          | {{ skill.name.toLowerCase() }}

    modal.modal(
      :title="createModal.title",
      :active="createModal.active",
      v-on:close="closeModal(createModal)")
      component(:is="createModal.component" v-on:close="closeModal(createModal)")
</template>

<script>
import { mapGetters } from 'vuex';
import CreateSkill from '@/components/skills/CreateSkill';
import Modal from '@/components/Modal';
import Spinner from '@/components/Spinner';

export default {
  name: 'skills',
  components: {
    CreateSkill,
    Modal,
    Spinner,
  },

  created() {
    if (!this.isCurrentUserAdmin) {
      this.$store.commit('SET_ERROR_BY_STATUS', { status: 403 });
    } else {
      this.$store.dispatch('FETCH_SKILLS')
      .catch((message) => {
        self.loading = false;
        const error = message[0];
        this.$store.commit('SET_ERROR_BY_STATUS', {
          status: error.status,
          message: error.title,
        });
      });
    }
  },

  data() {
    return {
      id: this.$route.params.id,
      createModal: {
        active: false,
        title: 'Create Skill',
        component: 'CreateSkill',
      },
    };
  },

  computed: {
    ...mapGetters({
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      skills: 'getAlphabeticalSkills',
    }),
  },

  methods: {
    openModal(modal) {
      modal.active = true;
    },

    closeModal(modal) {
      modal.active = false;
    },
  },
};
</script>

<style lang="stylus" scope>
.Skills
  &-name
    font-variant: small-caps
</style>
