<template lang="pug">
section.Page.TeamPage
  spinner(v-if="!team")
  div(v-else)
    div.container
      div.is-pulled-right
        <a v-popover:actions class="button is-info">
          span.icon.is-small
            i.fa.fa-caret-down
          span Actions
        </a>
        popover(name="actions")
          div.DropdownMenu(role="menu")
            a.DropdownMenu-item(v-if="canManageTeam", @click="openModal(editModal)")
              span.icon.is-small
                i.fa.fa-pencil-square-o
              span Edit
            a.DropdownMenu-item(v-if="canManageTeam", @click="openModal(createMembershipModal)")
              span.icon.is-small
                i.fa.fa-plus
              span Member

      div.Page-header.content
        h1.Page-header-title.title {{ team.name }}
        hr

    div.container
      div.Page-tabs.tabs.is-toggle.is-fullwidth
        ul
          li(:class="{ 'is-active': this.mode == 'overview' }", @click="setMode('overview')")
            a overview
          li(:class="{ 'is-active': this.mode == 'applicants' }", @click="setMode('applicants')")
            a candidates
          li(:class="{ 'is-active': this.mode == 'clients' }", @click="setMode('clients')")
            a clients

      spinner(v-show="loading && this.mode != 'overview'")
      div(v-show="!loading")
        applicant-table(
          :applicants="applicants",
          :showCreator="isCurrentUserTeamLead",
          v-if="this.mode == 'applicants'",
          v-on:resetOptionalQueryParameters="resetOptionalQueryParameters")
        client-table(
          :clients="clients",
          :showCreator="isCurrentUserTeamLead",
          v-if="this.mode == 'clients'",
          v-on:resetOptionalQueryParameters="resetOptionalQueryParameters")
        pagination(
          :currentPage="currentPage",
          :recordsCount="recordsCount",
          :pageLimit="pageLimit()",
          v-on:getPage="getPage",
          v-show="modeHasTable")

      nav.Panel.panel(v-if="this.mode == 'overview'")
        p.panel-heading members
        span.panel-block(v-for="membership in team.memberships")
          router-link(:to = "{ name: 'user', params: { id: membership.userId } }")
            | {{ getUserFullName(membership.userId) }}
          div.nav-right
            span.Page-tag.tag.is-dark(v-if="isTeamLead(membership.role)") Team Lead
            span.icon(
              v-if="canManageTeam",
              @click="openModal(deleteMembershipModal, membership.userId)")
              i.TeamPage-icon-trash.fa.fa-trash-o

    modal.modal(
      :title="createMembershipModal.title",
      :active="createMembershipModal.active",
      v-on:close="closeModal(createMembershipModal)")
      component(
        :is="createMembershipModal.component",
        :teamId="team.id",
        v-if="canManageTeam",
        v-on:close="closeModal(createMembershipModal)")

    modal.modal(
      :title="deleteMembershipModal.title",
      :active="deleteMembershipModal.active",
      v-on:close="closeModal(deleteMembershipModal)")
      component(
        :is="deleteMembershipModal.component",
        :team="team",
        :userId="deleteMembershipModal.userId",
        v-if="canManageTeam",
        v-on:close="closeModal(deleteMembershipModal)")

    modal.modal(
      :title="editModal.title",
      :active="editModal.active",
      v-on:close="closeModal(editModal)")
      component(
        :is="editModal.component",
        :teamToUpdate="team",
        v-if="canManageTeam",
        v-on:close="closeModal(editModal)")
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import { MEMBERSHIP_ROLE } from '@/store/teams';
import ApplicantTable from '@/components/applicants/ApplicantTable';
import ClientTable from '@/components/clients/ClientTable';
import CreateMembership from '@/components/teams/CreateMembership';
import DeleteMembership from '@/components/teams/DeleteMembership';
import EditTeam from '@/components/teams/EditTeam';
import Modal from '@/components/Modal';
import Pagination from '@/components/Pagination';
import QueryBuilder from '@/mixins/QueryBuilder';
import Spinner from '@/components/Spinner';

export default {
  name: 'team',
  mixins: [QueryBuilder],
  components: {
    ApplicantTable,
    ClientTable,
    CreateMembership,
    DeleteMembership,
    EditTeam,
    Modal,
    Pagination,
    Spinner,
  },

  created() {
    this.loading = true;
    const self = this;

    this.$store.dispatch('FETCH_TEAM', { id: this.id })
    .then(() => this.$store.dispatch('FETCH_USERS'))
    .then(() => this.fetchResourcesByMode())
    .then(() => {
      self.loading = false;
    })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      createMembershipModal: {
        active: false,
        title: 'Create Membership',
        component: 'CreateMembership',
      },

      deleteMembershipModal: {
        active: false,
        title: 'Delete Membership',
        component: 'DeleteMembership',
      },

      editModal: {
        active: false,
        title: 'Edit Team',
        component: 'EditTeam',
      },

      id: this.$route.params.id,
      loading: false,
    };
  },

  computed: {
    ...mapGetters({
      applicants: 'getAlphabeticalApplicants',
      clients: 'getAlphabeticalClients',
      getUserFullName: 'getUserFullName',
      getTeamsLead: 'getTeamsLead',
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      isMemberOfTeam: 'isMemberOfTeam',
      isTeamLeadOfTeam: 'isTeamLeadOfTeam',
    }),

    ...mapState({
      currentUserId: state => (state.users.currentUserId),
      team(state) {
        return state.teams.teams[this.id];
      },
    }),

    canManageTeam() {
      return this.isCurrentUserAdmin || this.isTeamLeadOfTeam(this.currentUserId, this.id);
    },

    isCurrentUserTeamLead() {
      return this.getTeamsLead(this.currentUserId).length > 0;
    },
  },

  methods: {
    closeModal(modal) {
      modal.active = false;
      modal.userId = null;
    },

    fetchApplicants(query) {
      this.$store.commit('CLEAR_APPLICANTS');

      if (this.canManageTeam) {
        return this.$store.dispatch('FETCH_APPLICANTS_BY_TEAM', { query, teamId: this.id });
      } else if (this.isMemberOfTeam(this.currentUserId, this.id)) {
        return this.$store.dispatch('FETCH_APPLICANTS_BY_USER', { query, userId: this.currentUserId });
      }

      return Promise.resolve([]);
    },

    fetchClients(query) {
      this.$store.commit('CLEAR_CLIENTS');

      if (this.canManageTeam) {
        return this.$store.dispatch('FETCH_CLIENTS_BY_TEAM', { query, teamId: this.id });
      } else if (this.isMemberOfTeam(this.currentUserId, this.id)) {
        return this.$store.dispatch('FETCH_CLIENTS_BY_USER', { query, userId: this.currentUserId });
      }

      return Promise.resolve([]);
    },

    fetchResourcesByMode() {
      const query = this.$route.query;

      if (this.mode === 'applicants') {
        return this.fetchApplicants(query);
      } else if (this.mode === 'clients') {
        return this.fetchClients(query);
      }

      return Promise.resolve([]);
    },

    isTeamLead: role => (role === MEMBERSHIP_ROLE.teamLead),

    openModal(modal, userId = null) {
      modal.active = true;
      modal.userId = userId;
    },
  },
};
</script>

<style lang="stylus" scoped>
@import "~assets/stylesheets/utilities.styl"

.TeamPage
  &-icon
    &-trash:hover
      color: $red
</style>
