<template lang="pug">
section.Page.container
  div.field.is-grouped.is-pulled-right
    a.button.is-primary(@click="openModal(createTeamModal, null)", v-if="isCurrentUserAdmin")
      span.icon.is-small
        i.fa.fa-plus
      span Team

  div.Page-header.content
    h1.Page-header-title.title Teams
    hr

  div.Page-cards.columns.is-multiline
    div.column.is-narrow(v-for="team in teams")
      team-card(:team="team", v-on:addMember="openModal(createMembershipModal, team.id)")

  modal.modal(
    :title="createTeamModal.title",
    :active="createTeamModal.active",
    v-on:close="closeModal(createTeamModal)")
    component(:is="createTeamModal.component" v-on:close="closeModal(createTeamModal)")

  modal.modal(
    :title="createMembershipModal.title",
    :active="createMembershipModal.active",
    v-on:close="closeModal(createMembershipModal)")
    component(
      :is="createMembershipModal.component",
      :teamId="createMembershipModal.teamId",
      v-on:close="closeModal(createMembershipModal)")
</template>

<script>
import { mapGetters } from 'vuex';
import CreateMembership from '@/components/teams/CreateMembership';
import CreateTeam from '@/components/teams/CreateTeam';
import Modal from '@/components/Modal';
import TeamCard from '@/components/teams/TeamCard';

export default {
  name: 'teams',
  components: {
    Modal,
    CreateMembership,
    CreateTeam,
    TeamCard,
  },

  created() {
    this.$store.dispatch('FETCH_TEAMS', {})
    .then(() => this.$store.dispatch('FETCH_USERS'))
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      createTeamModal: {
        active: false,
        title: 'Create Team',
        component: 'CreateTeam',
        teamId: null,
      },

      createMembershipModal: {
        active: false,
        title: 'Add Member',
        component: 'CreateMembership',
        teamId: null,
      },
    };
  },

  computed: {
    ...mapGetters({
      isCurrentUserAdmin: 'isCurrentUserAdmin',
      teams: 'getAlphabeticalTeams',
    }),
  },

  methods: {
    openModal(modal, teamId) {
      modal.teamId = teamId;
      modal.active = true;
    },

    closeModal(modal) {
      modal.teamId = null;
      modal.active = false;
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
