<template lang="pug">
section
  spinner(v-if="!user")
  div.Page(v-else)
    div.container
      div.field.is-grouped.is-pulled-right
        p.control(v-if="canCurrentUserEdit")
          a.button.is-primary(@click="openModal(editModal)")
            span.icon.is-small
              i.fa.fa-pencil-square-o
            span Edit

        p.control(v-if="canCurrentUserDeactivate")
          a.button.is-danger(@click="openModal(deactivateModal)")
            span.icon.is-small
              i.fa.fa-ban
            span Deactivate

      div.Page-header.content
        h1.Page-header-title.title {{ getUserFullName(user.id) }}
        hr

      nav.Panel.panel
        p.panel-heading details
        a.panel-block(v-if="user.position")
          span.panel-icon
            i.fa.fa-user
          | {{ user.position }}

        a.panel-block
          span.panel-icon
            i.fa.fa-at
          | {{ user.username }}

        a.panel-block
          span.panel-icon
            i.fa.fa-envelope-o
          | {{ user.email }}

    modal.modal(
      :title="editModal.title",
      :active="editModal.active",
      v-if="canCurrentUserEdit"
      v-on:close="closeModal(editModal)")
      component(
        :is="editModal.component",
        :userToUpdate="user"
        v-on:close="closeModal(editModal)")

    modal.modal(
      :title="deactivateModal.title",
      :active="deactivateModal.active",
      v-on:close="closeModal(deactivateModal)"
      v-if="canCurrentUserDeactivate")
      component(
        :is="deactivateModal.component",
        :applicant="applicant"
        v-on:close="closeModal(deactivateModal)")
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import { USER_STATUS } from '@/store/users';
import EditUser from '@/components/users/EditUser';
import DeactivateUser from '@/components/users/DeactivateUser';
import Modal from '@/components/Modal';
import Spinner from '@/components/Spinner';

export default {
  name: 'user',
  components: {
    EditUser,
    DeactivateUser,
    Modal,
    Spinner,
  },

  created() {
    this.$store.dispatch('FETCH_USER', { id: this.id })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      editModal: {
        active: false,
        title: 'Edit Account',
        component: 'EditUser',
      },

      deactivateModal: {
        active: false,
        title: 'Deactivate User',
        component: 'DeactivateUser',
      },
    };
  },

  computed: {
    ...mapGetters(['getUserFullName', 'isCurrentUser', 'isCurrentUserAdmin']),
    ...mapState({
      user(state) {
        return state.users.users[this.id];
      },
    }),

    id() {
      return this.$route.params.id;
    },

    canCurrentUserEdit() {
      return this.isCurrentUser(this.id) || this.isCurrentUserAdmin;
    },

    canCurrentUserDeactivate() {
      return this.userIsActive && this.isCurrentUserAdmin;
    },

    userIsActive() {
      if (this.user) {
        return this.user.status === USER_STATUS.active;
      }

      return false;
    },
  },

  methods: {
    openModal(modal) {
      modal.active = true;
    },

    closeModal(modal) {
      modal.active = false;
    },
  },
};
</script>
