<template lang="pug">
section.Page.container
  div.field.is-grouped.is-pulled-right
    a.button.is-primary(@click="openModal(createModal, null)", v-if="isCurrentUserAdmin")
      span.icon.is-small
        i.fa.fa-plus
      span User

  div.Page-header.content
    h1.Page-header-title.title Users
    hr

  div.Page-cards.columns.is-multiline
    div.column.is-narrow(v-for="user in users")
      user-card(
        :user="user",
        v-on:deactivateUser="openModal(deactivateModal, user)",
        v-on:activateUser="openModal(activateModal, user)",
        v-on:editUser="openModal(updateModal, user)")

  modal.modal(
    :title="deactivateModal.title",
    :active="deactivateModal.active",
    v-on:close="closeModal(deactivateModal)"
    v-if="deactivateModal.user")
    component(:is="deactivateModal.component", :user="deactivateModal.user" v-on:close="closeModal(deactivateModal)")

  modal.modal(
    :title="activateModal.title",
    :active="activateModal.active",
    v-on:close="closeModal(activateModal)",
    v-if="activateModal.user")
    component(:is="activateModal.component", :user="activateModal.user", v-on:close="closeModal(activateModal)")

  modal.modal(
    :title="createModal.title",
    :active="createModal.active",
    v-on:close="closeModal(createModal)")
    component(:is="createModal.component" v-on:close="closeModal(createModal)")
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import ActivateUser from '@/components/users/ActivateUser';
import CreateUser from '@/components/users/CreateUser';
import DeactivateUser from '@/components/users/DeactivateUser';
import Modal from '@/components/Modal';
import UserCard from '@/components/users/UserCard';
import lscache from 'lscache';

export default {
  name: 'users',
  components: {
    ActivateUser,
    CreateUser,
    DeactivateUser,
    Modal,
    UserCard,
  },

  created() {
    this.$store.dispatch('FETCH_USERS')
    .then((users) => {
      lscache.set('users', users);
    })
    .catch((message) => {
      self.loading = false;
      const error = message[0];
      this.$store.commit('SET_ERROR_BY_STATUS', {
        status: error.status,
        message: error.title,
      });
    });
  },

  data() {
    return {
      deactivateModal: {
        active: false,
        title: 'Deactivate User',
        component: 'DeactivateUser',
        user: null,
      },

      activateModal: {
        active: false,
        title: 'Activate User',
        component: 'ActivateUser',
        user: null,
      },

      createModal: {
        active: false,
        title: 'Create User',
        component: 'CreateUser',
        user: null,
      },
    };
  },

  computed: {
    ...mapGetters(['isCurrentUserAdmin']),

    ...mapState({
      users: state => state.users.users,
    }),
  },

  methods: {
    openModal(modal, user) {
      modal.user = user;
      modal.active = true;
    },

    closeModal(modal) {
      modal.user = null;
      modal.active = false;
    },
  },
};
</script>
