<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="createNote")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label Content
        span.Form--required *
      p.control
        textarea.textarea(
          rows="5"
          placeholder="This is a note."
          v-model="note.content")

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Submit
</template>

<script>
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'create-note',
  props: ['forResource', 'resourceId'],
  components: { Alert },

  data: () => ({
    note: {
      content: '',
    },

    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to create note. Please try again',
    },
  }),

  methods: {
    createNote() {
      let type;
      let params;
      const self = this;

      if (this.forResource === 'applicants') {
        type = 'CREATE_APPLICANT_NOTE';
        params = { applicantId: this.resourceId, note: this.note };
      } else if (this.forResource === 'clients') {
        type = 'CREATE_CLIENT_NOTE';
        params = { clientId: this.resourceId, note: this.note };
      }

      store.dispatch(type, params)
      .then(() => self.$emit('close'))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
