<template lang="pug">
div.Note.box
  div
    button.Note-delete.is-small.is-pulled-right.delete(@click="removeNote")
  
  div.media-content
    div.content
      p
        span
          strong {{ author }}
          sup.Note--new(v-if="note.new") new!
        span.is-pulled-right
          small {{ date }}
      p.Note-content {{ note.content }}
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'note',
  props: ['note'],
  computed: {
    ...mapGetters(['getUserFullName']),
    author() {
      return this.getUserFullName(this.note.creator.id);
    },

    date() {
      const insertedAt = new Date(this.note.insertedAt);
      return insertedAt.toDateString();
    },
  },

  methods: {
    removeNote() {
      this.$emit('removeNote');
    },
  },
};
</script>
