<template lang="pug">
div.Modal.columns(v-if="note")
  div.centered.column.is-10
    alert(:errors="errors", :defaultError="defaultError")

    p.content
      | Are you sure you want to remove this note?

    p
      b Author:
      span &nbsp; {{ author }}

    p
      b Date:
      span &nbsp; {{ date }}

    p
      b Content:
      span &nbsp; {{ truncatedContent }}...

    div.Modal-actions.field
      button.button.is-primary(@click="removeNote") Yes, let's remove it!
</template>

<script>
import { mapGetters } from 'vuex';
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'remove-note',
  components: { Alert },
  props: ['note', 'forResource', 'resourceId'],

  data: () => ({
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to remove note. Please try again',
    },
  }),

  computed: {
    ...mapGetters(['getUserFullName']),
    author() {
      return this.getUserFullName(this.note.creator.id);
    },

    date() {
      const insertedAt = new Date(this.note.insertedAt);
      return insertedAt.toDateString();
    },

    truncatedContent() {
      return this.note.content.substring(0, 50);
    },
  },

  methods: {
    removeNote() {
      let type;
      let params;
      const self = this;

      if (this.forResource === 'applicants') {
        type = 'REMOVE_APPLICANT_NOTE';
        params = { applicantId: this.resourceId, noteId: this.note.id };
      } else if (this.forResource === 'clients') {
        type = 'REMOVE_CLIENT_NOTE';
        params = { clientId: this.resourceId, noteId: this.note.id };
      }

      store.dispatch(type, params)
      .then(() => self.$emit('close'))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
