<template lang="pug">
div.Mailer(v-if="recipients.length")
  div.field.is-grouped
    p.control
      a.button.is-dark.is-small(@click="toggleLegend")
        span.icon.is-small
          i.fa.fa-eye(v-if="!this.showLegend")
          i.fa.fa-eye-slash(v-if="this.showLegend")
        span Legend
    p.control
      a.button.is-info.is-small(@click="togglePreview")
        span.icon.is-small
          i.fa.fa-eye(v-if="!this.showPreview")
          i.fa.fa-eye-slash(v-if="this.showPreview")
        span Preview

  div.Mailer-legend.box(v-show="this.showLegend")
    div.Mailer-legend--raw
      div
        p @{targetFirstName}
        p @{targetLastName}
        p @{targetFullName}
        p {{ markdownLegend }}
    div.Mailer-legend--compiled.Mailer-markdown--compiled
      div
        p Alice
        p Wakefield
        p Alice Wakefield
      div(v-html="compiledLegend")

  div.Mailer-form-body.Mailer-markdown--compiled(
    v-if="showPreview",
    v-html="compiledEmailContent(recipients[0])")
  
  div.Mailer-form--modal(v-else)
    alert(:errors="errors", :defaultError="defaultError")
    success-alert(:messages="successMessages")

    table.Mailer-form-field
      tr
        td.Mailer-form-field-label To:
        td
          span.Mailer-form-tag.tag.is-dark(v-for="recipient in recipients")
            span(v-if="recipient")
              | {{ recipient.firstName }} {{ recipient.lastName }} <{{ recipient.email }}>

    table.Mailer-form-field
      tr
        td.Mailer-form-field-label Subject:
        td
          input.input(v-model="email.subject")

    textarea.Mailer-form-textarea.textarea(
      rows="10"
      placeholder="Salutations!"
      v-model="email.content")

    div.flex-right
      a.button.is-primary(
        @click="sendMail",
        :class="{ 'is-loading': isSendingMail }",
        :disabled="isSendingMail")
        span.icon.is-small
          i.fa.fa-send
        span Send Email
</template>

<script>
import Alert from '@/components/Alert';
import MailerMixin from '@/mixins/Mailer';
import SuccessAlert from '@/components/SuccessAlert';

export default {
  name: 'compose-email',
  mixins: [MailerMixin],
  props: ['active', 'recipients', 'recipientType'],
  components: {
    Alert,
    SuccessAlert,
  },

  data() {
    return {
      errors: [],
      successMessages: [],
      showPreview: false,
    };
  },

  watch: {
    active: 'clearAlerts',
  },

  methods: {
    clearAlerts() {
      this.errors = [];
      this.successMessages = [];
    },

    sendMail() {
      const self = this;
      this.clearAlerts();
      this.isSendingMail = true;

      if (!this.validateEmail()) {
        this.errors = [{
          title: 'Oops',
          detail: 'Unable to send email. Please make sure the subject and content is not empty.',
        }];

        return;
      }

      let promiseChain = Promise.resolve();
      const email = { ...this.email };
      const method = this.getDispatchAction(this.recipientType);

      // send email to all recipients
      this.recipients.forEach((recipient) => {
        promiseChain = promiseChain.then(() => (
          self.sendSingleEmail(method, email, recipient)
        ));

        if (recipient === self.recipients[self.recipients.length - 1]) {
          promiseChain.then(() => {
            this.successMessages.push('Finished sending all the emails!');
            this.isSendingMail = false;
          });
        }
      });
    },

    sendSingleEmail(method, email, recipient) {
      const self = this;
      email.content = this.compiledEmailContent(recipient);
      email = this.setRecipientId(this.recipientType, recipient, email);

      return this.$store.dispatch(method, { email })
      .then(() => Promise.resolve())
      .catch(() => {
        self.errors.push({
          title: 'Oops',
          detail: `Failed to send email to ${recipient.firstName} ${recipient.lastName}.`,
        });

        // resolve despite the error since we're chaining all email promises
        return Promise.resolve();
      });
    },

    togglePreview() {
      this.showPreview = !this.showPreview;
    },
  },
};
</script>
