<template lang="pug">
div.Mailer
  div.Mailer-form--simple.box
    small.Mailer-form-sent.flex-right
      Sent {{ date }}

    div.Mailer-form-field-subject
      b Subject: 
      span {{ email.subject }}

    div.Mailer-form-field
      b From: 
      span {{ author }}


    div.Mailer-form-body.Mailer-markdown--compiled(v-html="email.content")
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'email',
  props: ['email'],
  computed: {
    ...mapGetters(['getUserFullName']),

    author() {
      return this.getUserFullName(this.email.creator.id);
    },

    date() {
      const insertedAt = new Date(this.email.insertedAt);
      return insertedAt.toDateString();
    },
  },
};
</script>
