<template lang="pug">
div.Mailer
  div(v-if="emailIsMissing")
    p This person's email is not registered in the system yet. Please update their details and add their email first.

  div(v-else)
    div.field.is-grouped
      p.control
        a.button.is-dark.is-small(@click="toggleLegend")
          span.icon.is-small
            i.fa.fa-eye(v-if="!this.showLegend")
            i.fa.fa-eye-slash(v-if="this.showLegend")
          span Legend

    div.Mailer-legend.box(v-show="this.showLegend")
      div.Mailer-legend--raw
        div
          p @{targetFirstName}
          p @{targetLastName}
          p @{targetFullName}
          p {{ markdownLegend }}
      div.Mailer-legend--compiled.Mailer-markdown--compiled
        div
          p Alice
          p Wakefield
          p Alice Wakefield
        div(v-html="compiledLegend")

    div.Mailer-form.box
      h3.title.is-3 Compose Email
      alert(:errors="errors", :defaultError="defaultError")
      success-alert(:messages="successMessages")

      table.Mailer-form-field
        tr
          td.Mailer-form-field-label To:
          td.tag.is-dark {{ recipient.firstName }} {{ recipient.lastName }} <{{ recipient.email }}>

      table.Mailer-form-field
        tr
          td.Mailer-form-field-label Subject:
          td
            input.input(v-model="email.subject")

      textarea.Mailer-form-textarea.textarea(
        rows="10"
        placeholder="Salutations!"
        v-model="email.content")

      div.flex-right
        a.button.is-primary(
          @click="sendMail",
          :class="{ 'is-loading': isSendingMail }",
          :disabled="isSendingMail")
          span.icon.is-small
            i.fa.fa-send
          span Send Email

    div.Mailer-preview
      h3.title.is-3 Preview
      hr
      div.Mailer-form-body.Mailer-markdown--compiled(v-html="getCompiledEmailContent")
</template>

<script>
import Alert from '@/components/Alert';
import MailerMixin from '@/mixins/Mailer';
import SuccessAlert from '@/components/SuccessAlert';

export default {
  name: 'mailer-form',
  mixins: [MailerMixin],
  props: ['recipient', 'recipientType'],
  components: {
    Alert,
    SuccessAlert,
  },

  data() {
    return {
      errors: [],
      successMessages: [],
    };
  },

  computed: {
    getCompiledEmailContent() {
      return this.compiledEmailContent(this.recipient);
    },

    emailIsMissing() {
      return !this.recipient.email || this.recipient.email === '';
    },
  },

  methods: {
    sendMail() {
      const self = this;
      this.errors = [];
      this.successMessages = [];
      this.isSendingMail = true;

      if (!this.validateEmail()) {
        this.errors = [{
          title: 'Oops',
          detail: 'Unable to send email. Please make sure the subject and content is not empty.',
        }];

        return;
      }

      let email = { ...this.email };
      email.content = this.getCompiledEmailContent;
      email = this.setRecipientId(this.recipientType, this.recipient, email);
      const method = this.getDispatchAction(this.recipientType);

      this.$store.dispatch(method, { email })
      .then(() => {
        this.isSendingMail = false;
        self.successMessages = ['Email has been sent!'];
      })
      .catch((errors) => {
        this.isSendingMail = false;
        self.errors = errors;
      });
    },
  },
};
</script>
