<template lang="pug">
div.Modal.columns
  div.centered.column.is-10
    alert(:errors="errors", :defaultError="defaultError")

    p.content
      | Are you sure you want to reactivate
      b &nbsp;{{ getUserFullName(user.id) }}
      | ?

    p.content
      | They will be able to log-in and access all their data again.

    div.Modal-actions.field
      button.button.is-primary(@click="activateUser") Yes, let's activate them!
</template>

<script>
import { mapGetters } from 'vuex';
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'activate-user',
  components: { Alert },
  props: ['user'],
  data: () => ({
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to reactivate user. Please try again',
    },
  }),

  computed: {
    ...mapGetters(['getUserFullName']),
  },

  methods: {
    activateUser() {
      const self = this;

      store.dispatch('ACTIVATE_USER', { id: this.user.id })
      .then(() => self.$emit('close'))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>

