<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="createUser")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label First Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Alice"
          v-model="user.firstName")

    div.field
      label.label Last Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Armstrong"
          v-model="user.lastName")

    div.field
      label.label Position
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="President"
          v-model="user.position")

    div.field
      label.label Email
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="example@mail.com"
          v-model="user.email")

    div.field
      label.label Username
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="username"
          v-model="user.username")

    div.field
      label.label Password
        span.Form--required *
      p.control
        input.input(
          type="password"
          placeholder="******"
          v-model="user.password")

    div.field
      label.label Confirm Password
        span.Form--required *
      p.control
        input.input(
          type="password"
          placeholder="******"
          v-model="confirmPassword")

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Submit
</template>

<script>
import { USER_ROLE } from '@/store/users';
import Alert from '@/components/Alert';
import UserValidation from '@/mixins/UserValidation';
import store from '@/store';

export default {
  name: 'create-user',
  mixins: [UserValidation],
  components: { Alert },

  data: () => ({
    user: {
      firstName: '',
      lastName: '',
      position: '',
      email: '@rasrecruitment.com',
      username: '',
      password: '',
      status: 1,
      role: USER_ROLE.user,
    },

    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to create user. Please try again',
    },
  }),

  methods: {
    createUser() {
      if (!this.validateUser()) {
        return;
      }

      const self = this;
      store.dispatch('CREATE_USER', { user: this.user })
      .then(() => self.$emit('close'))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
