<template lang="pug">
div.Modal.columns
  div.centered.column.is-10
    alert(:errors="errors", :defaultError="defaultError")

    p.content
      | Are you sure you want to deactivate
      b &nbsp;{{ getUserFullName(user.id) }}
      | ?

    p.content
      | They will no longer be able to login once their account is deactivated.
      | However, all their data will be kept intact.

    p.content
      | You can still re-activate their account anytime if you change your mind.

    div.Modal-actions.field
      button.button.is-primary(@click="deactivateUser") Yes, let's remove them!
</template>

<script>
import { mapGetters } from 'vuex';
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'deactivate-user',
  components: { Alert },
  props: ['user'],
  data: () => ({
    errors: [],
    defaultError: {
      title: 'Oops',
      detail: 'Unable to ban user. Please try again',
    },
  }),

  computed: {
    ...mapGetters(['getUserFullName']),
  },

  methods: {
    deactivateUser() {
      const self = this;
      store.dispatch('DEACTIVATE_USER', { id: this.user.id })
      .then(() => self.$emit('close'))
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
