<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="updateUser")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label First Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Alice"
          v-model="user.firstName")

    div.field
      label.label Last Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Armstrong"
          v-model="user.lastName")

    div.field
      label.label Position
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="President"
          v-model="user.position")

    div.field
      label.label Email
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="example@mail.com"
          v-model="user.email")

    div.field
      label.label Password
        span.Form--required *
      p.control
        input.input(
          type="password"
          placeholder="******"
          v-model="user.password")

    div.field
      label.label Confirm Password
        span.Form--required *
      p.control
        input.input(
          type="password"
          placeholder="******"
          v-model="confirmPassword")

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Update
</template>

<script>
import UserValidation from '@/mixins/UserValidation';
import Alert from '@/components/Alert';
import store from '@/store';

export default {
  name: 'edit-user',
  mixins: [UserValidation],
  components: { Alert },
  props: ['userToUpdate'],

  data() {
    const user = { ...this.userToUpdate };
    user.password = '';

    return {
      user,
      confirmPassword: '',
      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to edit user. Please try again',
      },
    };
  },

  methods: {
    updateUser() {
      if (!this.validateUser()) {
        return;
      }

      const self = this;
      const user = this.user;

      store.dispatch('UPDATE_USER', { id: user.id, user })
      .then(() => {
        self.errors = [];
        self.$emit('close');
      })
      .catch((errors) => {
        this.errors = errors;
      });
    },
  },
};
</script>
