<template lang="pug">
div.Card.UserCard.box(:class="{ 'Card--inactive': !isActive, 'UserCard--active': isActive }")
  div.media
    div.media-content
      p
        router-link.Card-title.title.is-3(:to="{ name: 'user', params: { id: user.id } }")
          | {{ getUserFullName(user.id) }}
        sup.Card--new(v-if="isNew") new!
      p.subtitle.is-5 {{ user.position }}

      div.content
        p.Card-field
          span.Card-field-icon.icon
            i.fa.fa-at
          | {{ user.username }}

        p.Card-field
          span.Card-field-icon.icon
            i.fa.fa-envelope-o
          | {{ user.email }}

    div.Card-actions.media-right
      span.Card-actions-icon.UserCard-actions-ban.icon.is-small(v-if="canCurrentUserDeactivate")
        i.fa.fa-ban(@click="emitAction('deactivateUser')")
      span.Card-actions-icon.UserCard-actions-activate.icon.is-small(v-if="canCurrentUserActivate")
        i.fa.fa-check-circle(@click="emitAction('activateUser')")
</template>

<script>
import { mapGetters } from 'vuex';
import { USER_STATUS } from '@/store/users';

export default {
  name: 'UserCard',
  props: ['user'],

  computed: {
    ...mapGetters(['getUserFullName', 'isCurrentUserAdmin']),

    canCurrentUserDeactivate() {
      return this.isActive && this.isCurrentUserAdmin;
    },

    canCurrentUserActivate() {
      return !this.isActive && this.isCurrentUserAdmin;
    },

    isActive() {
      return this.user.status === USER_STATUS.active;
    },

    isNew() {
      return this.user.new === true;
    },
  },

  methods: {
    emitAction(action) {
      this.$emit(action);
    },
  },
};
</script>

<style lang="stylus">
@import "~assets/stylesheets/utilities.styl"

.UserCard
  &--active
    border-left: 2px solid $user-color;

  &-actions
    &-ban:hover
      color: $red
    &-activate:hover
      color: $green
</style>
