<template lang="pug">
section.Page
  div.container
    div.Page-header.content
      h1.Page-header-title.title
        | Oops! Something went wrong. :(
      h4.Page-header-subtitle.subtitle
        | {{message}}.
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'api-error',
  computed: {
    ...mapState({
      message(state) {
        return state.errors.message;
      },
    }),
  },
};
</script>
