<template lang="pug">
section.Page
  div.container
    div.Page-header.content
      h1.Page-header-title.title
        | Forbidden
      h4.Page-header-subtitle.subtitle
        | You are unauthorized to view this resource.
</template>

<script>
export default {
  name: 'unauthorized',
};
</script>
