<template lang="pug">
div
  div(v-if="!companies")
    p There are no companies yet. 
      a(href="#", @click="openModal(createModal)")
        | Create one?

  table.Table.table(v-else)
    thead.Table-head
      tr
        th Name
        th Country
        th Created By
        th Email
        th Phone Number
    tfoot
    tbody
      tr.Table-row(v-for="company in companies")
        td
          router-link(:to="{ name: 'company-overview', params: { id: company.id } }")
            | {{ company.name }}
        td(v-if="company.country")
          | {{ company.country.name }}
        td(v-if="company.creator")
          router-link(:to="{ name: 'user', params: { id: company.creator.id } }")
            | {{ getUserFullName(company.creator.id) }}
        td {{ company.email || 'None' }}
        td {{ company.phoneNumber || 'None' }}

  modal.modal(
    :title="createModal.title",
    :active="createModal.active",
    v-on:close="closeModal(createModal)")
    component(:is="createModal.component" v-on:close="closeModal(createModal)")
</template>

<script>
import { mapGetters } from 'vuex';
import CreateCompany from '@/components/companies/CreateCompany';
import Modal from '@/components/Modal';

export default {
  name: 'company-table',
  props: ['companies'],
  components: {
    CreateCompany,
    Modal,
  },

  data() {
    return {
      createModal: {
        active: false,
        title: 'Create Company',
        component: 'CreateCompany',
      },
    };
  },

  computed: {
    ...mapGetters(['getUserFullName']),
  },

  methods: {
    openModal(modal) {
      modal.active = true;
    },

    closeModal(modal) {
      modal.active = false;
    },
  },
};
</script>
