<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="createCompany")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Bridgewood Holdings Inc."
          v-model="company.name")

    div.field
      label.label Country
        span.Form--required *
      p.control
        multiselect(
          v-model="company.country",
          :options="Object.values(countries)",
          track-by="id",
          label="name",
        )

    div.field
      label.label Phone Number
      p.control
        input.input(
          type="text"
          placeholder="+639876543210"
          v-model="company.phoneNumber")

    div.field
      label.label Email
      p.control
        input.input(
          type="text"
          placeholder="company@email.com"
          v-model="company.email")

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Submit
</template>

<script>
import Alert from '@/components/Alert';
import Multiselect from 'vue-multiselect';
import store from '@/store';

export default {
  name: 'create-company',
  components: {
    Alert,
    Multiselect,
  },

  created() {
    this.$store.dispatch('FETCH_COUNTRIES');
  },

  data() {
    return {
      company: {
        name: '',
        email: '',
        phoneNumber: '',
        country: {
          id: 1,
          name: '',
        },
      },

      countries: this.$store.state.recruitment.countries,
      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to create company. Please try again',
      },
    };
  },

  methods: {
    createCompany() {
      const self = this;
      const countryId = this.company.country.id;
      this.company.country.name = this.$store.state.recruitment.countries[countryId].name;

      store.dispatch('CREATE_COMPANY', { company: this.company, country: this.country })
      .then((company) => {
        self.$emit('onCreateCompany', company);
        self.$emit('close');
      })
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>
