<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="updateCompany")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label Name
        span.Form--required *
      p.control
        input.input(
          type="text"
          placeholder="Team Malaysia"
          v-model="company.name")

    div.field
      label.label Country
        span.Form--required *
      p.control
        multiselect(
          v-model="company.country",
          :options="Object.values(countries)",
          track-by="id",
          label="name",
        )

    div.field
      label.label Phone Number
      p.control
        input.input(
          type="text"
          placeholder="+939876543210"
          v-model="company.phoneNumber")

    div.field
      label.label Email
      p.control
        input.input(
          type="text"
          placeholder="company@email.com"
          v-model="company.email")

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Update
</template>

<script>
import Alert from '@/components/Alert';
import Multiselect from 'vue-multiselect';
import store from '@/store';

export default {
  name: 'edit-company',
  components: {
    Alert,
    Multiselect,
  },

  props: ['companyToUpdate'],

  created() {
    this.$store.dispatch('FETCH_COUNTRIES');
  },

  data() {
    return {
      company: { ...this.companyToUpdate },
      countries: this.$store.state.recruitment.countries,
      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to edit company. Please try again',
      },
    };
  },

  methods: {
    updateCompany() {
      const self = this;
      const company = this.company;
      const countryId = company.country.id;
      company.country.name = this.$store.state.recruitment.countries[countryId].name;

      store.dispatch('UPDATE_COMPANY', { id: company.id, company })
      .then(() => {
        self.errors = [];
        self.$emit('close');
      })
      .catch((errors) => {
        this.errors = errors;
      });
    },
  },
};
</script>
