<template lang="pug">
div.Alert.alert.notification.is-danger(v-show="hasError")
  i.Alert-icon.fa.fa-exclamation-circle(aria-hidden="true")
  span(v-if="!hasMultipleErrors") {{ error.detail }}
  span.content(v-else)
    span Oops! Something went wrong.
    ul
      li(v-for="error in errors") {{ error.detail }}
</template>

<script>
export default {
  name: 'alert',
  props: [
    'defaultError',
    'errors',
  ],
  computed: {
    hasError() {
      return this.errors.length > 0;
    },

    hasMultipleErrors() {
      return this.errors.length > 1;
    },

    error() {
      return this.hasError ? this.errors[0] : this.defaultError;
    },
  },
};
</script>
