<template lang="pug">
div.Modal.modal(:class="{ 'is-active': active }")
  div.modal-background
  div.Modal-content.modal-content(:class="{ 'Modal-content--large': isLarge }")
    div.box
      div.Modal-title.title.is-3 {{ title }}
      hr
      slot
    button.modal-close(@click="closeModal")
</template>

<script>
export default {
  name: 'modal',
  props: {
    title: {
      type: String,
    },
    active: {
      type: Boolean,
    },
    size: {
      type: String,
      default: 'normal',
    },
  },

  computed: {
    isLarge() {
      return this.size === 'large';
    },
  },

  methods: {
    closeModal() {
      this.$emit('close');
    },
  },
};
</script>

<style lang="stylus">
@import "~assets/stylesheets/utilities.styl"

.Modal
  &-title
    text-align: center
    font-family: $family-sans-title

  &-content
    padding: 20px
    border-radius: $radius
    
    &--large
      width: 900px !important

  &-actions
    margin-top: 20px
    margin-bottom: 10px

    button
      width: 100%
      border-radius: 0px
      font-family: $family-sans-title
</style>
