<template lang="pug">
nav.Navbar.nav
  div.nav-left
    router-link.nav-item(:to="{ name: 'login' }")
      h1.Navbar-title
        span ROD&STAFF
        span.Navbar-title--subtitle RECRUITMENT

    ul.Navbar-list
      li.Navbar-list-item(:class="{'Navbar-list-item--active': isUsersPage}")
        router-link.nav-item(:to="{ name: 'users' }" v-show="isLoggedIn") Users
      li.Navbar-list-item(:class="{'Navbar-list-item--active': isTeamsPage}")
        router-link.nav-item(:to="{ name: 'teams' }" v-show="isLoggedIn") Teams
      li.Navbar-list-item(:class="{'Navbar-list-item--active': isCompaniesPage}")
        router-link.nav-item(:to="{ name: 'companies' }" v-show="isLoggedIn") Companies
      li.Navbar-list-item(:class="{'Navbar-list-item--active': isApplicantsPage}")
        router-link.nav-item(:to="{ name: 'applicants-user' }" v-show="isLoggedIn") Candidates
      li.Navbar-list-item(:class="{'Navbar-list-item--active': isClientsPage}")
        router-link.nav-item(:to="{ name: 'clients-user' }" v-show="isLoggedIn") Clients
      li.Navbar-list-item(:class="{'Navbar-list-item--active': isProfessionsPage}", v-if="isCurrentUserAdmin")
        router-link.nav-item(:to="{ name: 'professions' }" v-show="isLoggedIn") Professions
      li.Navbar-list-item(:class="{'Navbar-list-item--active': isSkillsPage}", v-if="isCurrentUserAdmin")
        router-link.nav-item(:to="{ name: 'skills' }" v-show="isLoggedIn") Skills

  div.Navbar-actions.nav-right(v-show="isLoggedIn")
    div.nav-item
      ul.Navbar-list.field.is-grouped
        li.Navbar-list-item.control
          a.icon(@click="navigateToCurrentUser")
            i.fa.fa-user-circle
        li.Navbar-list-item.control
          a.icon
            i.fa.fa-sign-out(@click="logout")
</template>

<script>
import { mapGetters } from 'vuex';
import lscache from 'lscache';
import router from '@/router';
import store from '@/store';

export default {
  name: 'navbar',

  computed: {
    ...mapGetters(['isLoggedIn', 'isCurrentUserAdmin']),

    isUsersPage() {
      return ['users', 'user'].includes(store.state.route.name);
    },

    isTeamsPage() {
      const teamRouteNames = [
        'teams',
        'team-overview',
        'team-applicants',
        'team-clients',
      ];

      return teamRouteNames.includes(store.state.route.name);
    },

    isCompaniesPage() {
      const companyRouteNames = [
        'companies',
        'company-overview',
        'company-applicants',
        'company-clients',
      ];

      return companyRouteNames.includes(store.state.route.name);
    },

    isApplicantsPage() {
      const applicantRouteNames = [
        'applicants-user',
        'applicants-team',
        'candidate-overview',
        'candidate-notes',
        'candidate-emails',
        'create-candidate',
        'edit-candidate',
        'mail-candidate',
      ];

      return applicantRouteNames.includes(store.state.route.name);
    },

    isClientsPage() {
      const clientRouteNames = [
        'clients-user',
        'clients-team',
        'client-overview',
        'client-notes',
        'client-emails',
        'create-client',
        'edit-client',
        'mail-client',
      ];

      return clientRouteNames.includes(store.state.route.name);
    },

    isProfessionsPage() {
      return ['professions'].includes(store.state.route.name);
    },

    isSkillsPage() {
      return ['skills'].includes(store.state.route.name);
    },
  },

  methods: {
    logout: () => {
      store.commit('CLEAR_APPLICANTS');
      store.commit('CLEAR_CLIENTS');
      store.commit('REMOVE_TOKEN');
      store.commit('SET_CURRENT_USER', { id: 0 });

      lscache.remove('ras-token');
      lscache.remove('ras-currentUserId');

      router.push({ name: 'login' });
    },

    navigateToCurrentUser: () => {
      router.push({
        name: 'user',
        params: {
          id: store.state.users.currentUserId,
        },
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
@import "~assets/stylesheets/utilities.styl"

.Navbar
  padding: 0 5px
  background-color: $dark
  font-family: $family-sans-title

  .nav-left
    flex-grow: 2

  &-title
    font-weight: bold
    text-transform: uppercase
    color: $white

    &--subtitle
      color: $orange

  &-list
    list-style-type: none
    padding: 0
    margin: 0

    &-item
      display: inline-block
      height: 100%
      padding-top: 5px

      &--active
        background-color: $white

      .nav-item:hover
        color: #7a7a7a;

</style>
