<template lang="pug">
div
  div.field.has-addons.is-pulled-right
    p.control
      a.button.is-small.is-primary(@click="getPage(previousPage)", :disabled="previousPageDisabled")
        span.icon.is-small
          i.fa.fa-caret-left
    p.control(v-show="!previousPageDisabled")
      a.button.is-small(@click="getPage(previousPage)", :disabled="previousPageDisabled")
        | {{ previousPage }}
    p.control
      a.button.is-small(disabled)
        | {{ currentPage }}
    p.control(v-show="!nextPageDisabled")
      a.button.is-small(@click="getPage(nextPage)", :disabled="nextPageDisabled")
        | {{ nextPage }}
    p.control
      a.button.is-small.is-primary(@click="getPage(nextPage)", :disabled="nextPageDisabled")
        span.icon.is-small
          i.fa.fa-caret-right
</template>

<script>
export default {
  name: 'pagination',
  props: ['currentPage', 'recordsCount', 'pageLimit'],

  computed: {
    nextPage() {
      return this.currentPage + 1;
    },

    nextPageDisabled() {
      return this.recordsCount < this.pageLimit;
    },

    previousPage() {
      return this.currentPage - 1;
    },

    previousPageDisabled() {
      return this.previousPage < 1;
    },
  },

  methods: {
    getPage(pageNumber) {
      this.$emit('getPage', pageNumber);
    },
  },
};
</script>
