<template lang="pug">
div.Spinner
  div.rect1
  div.rect2
  div.rect3
  div.rect4
  div.rect5
</template>

<script>
export default {
  name: 'spinner',
};
</script>

<style lang="stylus">
@import "~assets/stylesheets/utilities.styl"

.Spinner
  margin: 100px auto
  width: 50px
  height: 60px
  text-align: center
  font-size: 10px

  div
    background-color: $primary
    height: 100%
    width: 6px
    margin-right: 1px
    display: inline-block
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out
    animation: sk-stretchdelay 1.2s infinite ease-in-out

  .rect2
    -webkit-animation-delay: -1.1s
    animation-delay: -1.1s

  .rect3
    -webkit-animation-delay: -1.0s
    animation-delay: -1.0s

  .rect4
    -webkit-animation-delay: -0.9s
    animation-delay: -0.9s

  .rect5
    -webkit-animation-delay: -0.8s
    animation-delay: -0.8s

  @-webkit-keyframes sk-stretchdelay
    0%, 40%, 100%
      -webkit-transform: scaleY(0.4)
    20%
      -webkit-transform: scaleY(1.0)

  @keyframes sk-stretchdelay
    0%, 40%, 100% 
      transform: scaleY(0.4)
      -webkit-transform: scaleY(0.4)
    20% 
      transform: scaleY(1.0)
      -webkit-transform: scaleY(1.0)
</style>
