<template lang="pug">
div.Alert.alert.notification.is-success(v-show="hasMessage")
  i.Alert-icon.fa.fa-check-circle(aria-hidden="true")
  span {{ message }}
</template>

<script>
export default {
  name: 'success-alert',
  props: [
    'messages',
  ],

  computed: {
    hasMessage() {
      return this.messages.length > 0;
    },

    message() {
      return this.hasMessage ? this.messages[0] : 'Success!';
    },
  },
};
</script>
