<template lang="pug">
div.Modal.columns
  form.centered.column.is-10(v-on:submit.prevent="createSkill")
    alert(:errors="errors", :defaultError="defaultError")

    div.field
      label.label Name
        span.Form--required *
      p.control
        input.input(type="text" placeholder="Programming" v-model="skill.name")

    div.Modal-actions.field.is-grouped
      button.button.is-primary(type="submit") Submit
</template>

<script>
import Alert from '@/components/Alert';

export default {
  name: 'create-skill',
  components: { Alert },
  data() {
    return {
      skill: {
        name: '',
        'active?': true,
      },

      errors: [],
      defaultError: {
        title: 'Oops',
        detail: 'Unable to create skill. Please try again',
      },
    };
  },

  methods: {
    createSkill() {
      const self = this;
      this.$store.dispatch('CREATE_SKILL', { skill: this.skill })
      .then((skill) => {
        self.errors = [];
        self.$emit('onCreateSkill', skill);
        self.$emit('close');
      })
      .catch((errors) => {
        self.errors = errors;
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.select, select
  width: 100%;
</style>
