<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      /* -------------------------------------
          GLOBAL RESET
      ------------------------------------- */
      /* What it does: Remove spaces around the email design added by some email clients. */
      /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
      html,
      body {
        margin: 0 auto !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
      }

      /* What it does: Stops email clients resizing small text. */
      * {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }

      /* What it does: Centers email on Android 4.4 */
      div[style*="margin: 16px 0"] {
        margin:0 !important;
      }

      /* What it does: Stops Outlook from adding extra spacing to tables. */
      table,
      td {
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important;
      }

      /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
      table {
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        table-layout: fixed !important;
        margin: 0 !important;
      }

      table table table {
        table-layout: auto;
      }

      img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
      }

      table td {
        font-family: sans-serif;
        font-size: 12px;
        vertical-align: top;
      }

      /* -------------------------------------
          BODY
      ------------------------------------- */
      code {
        color: #f66;
      }

      body {
        background-color: #fff;
        font-family: sans-serif;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }

      h1, h2, h3, h4 {
        display: block;
        font-family: sans-serif;
        font-weight: bold;
      }

      h1 {
        font-size: 2em;
        margin: 0 0 0.67em 0;
      }

      h2 {
        font-size: 1.5em;
        margin: 0 0 0.83em 0;
      }

      h3 {
        font-size: 1.17em;
        margin: 0 0 1em 0;
      }

      h4 {
        font-size: 1em;
        margin: 0 0 1.33em 0;
      }

      h5 {
        font-size: 0.83em;
        margin: 0 0 0.5em 0;
        font-weight: normal;
      }

      h6, small {
        font-size: 0.67em;
        margin: 0 0 0.5em 0;
        font-weight: normal;
      }

      p, ul, ol, li {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: normal;
        display: block;
      }

      p {
        margin: 0 0 1em 0;
      }


      ul {
        list-style-type: disc;
        padding-left: 40px;
        margin: 0 0 1em 0;
      }

      ol {
        list-style-type: decimal;
        padding-left: 40px;
        margin: 0 0 1em 0;
      }

      li {
        display: list-item;
        margin: 0;
      }

      a {
        color: #3498db;
        text-decoration: underline;
      }

      hr {
        border: 0;
        border-bottom: 1px solid #fff;
        margin: 10px 0;
      }

      blockquote {
        display: block;
        margin: 1em 35px;
        padding-left: 5px;
        border-left: 1px solid gray;
        color: gray;
      }

      /* -------------------------------------
          BODY
      ------------------------------------- */

      .footer-item {
        margin: 0.2em 0;
        font-size: 0.83em;
      }

    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <%= raw @message %>
        </td>
      </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td >
          <p class="footer-item">
            <img src="https://rasrecruitment.info/static/phone.png" alt="Phone">
            <span>+852 3478 3833</span>
          </p>
          <p class="footer-item">
            <img src="https://rasrecruitment.info/static/fax.png" alt="Fax">
            <span>+852 3478 3880</span>
          </p>
          <p class="footer-item">
            <img src="https://rasrecruitment.info/static/web.png" alt="Website">
            <span><a href="https://www.rasrecruitment.com/">www.rasrecruitment.com</a></span>
          </p>
        </td>
      </tr>
      <tr>
        <td >
          <img src="https://rasrecruitment.info/static/signature.png" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <small>
            This e-mail and any attachments to it ("the communication"), unless otherwise stated, may contain copyright material and is for the use only of the intended recipient. Any unauthorized copying, disclosure, or distribution of the material in this email is forbidden. If you received the Communication in error, please contact Rod & Staff Recruitment Group (HK) LTD as soon as possible.
          </small>
        </td>
      </tr>
    </table>
  </body>
</html>




